.error-fo {
    padding-top: 38.9rem;
    padding-bottom: 19.3rem;
    &__bg {
        position: absolute;
        z-index: -1;
        top: 0;
        width: 100%;
        height: 100%;
        
    }

    &__bg-mobile {
        display: none;
    }

    &__title {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        span {
            display: block;
            font-family: 'Kyiv*Type Serif';
            font-style: normal;
            font-weight: 200;
            font-size: 8rem;
            line-height: 9.6rem;
            text-transform: uppercase;
            color: #242424;
            margin-bottom: 2rem;
        }
        strong {
            display: flex;
            font-family: 'EuropeExt';
            font-style: normal;
            font-weight: 700;
            font-size: 8rem;
            line-height: 7.4rem;
            text-transform: uppercase;
            color: #242424;
        }
    }

    &__text {
        font-style: normal;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 156%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #242424;
        margin-bottom: 4.5rem;
    }
}