.footer {
    background: #242424;
    padding-top: 8.1rem;
    padding-left: 15rem;
    padding-right: 15rem;
    padding-bottom: 8.7rem;
    &__wrapper {
        display: flex;
        margin-bottom: 4rem;
    }

    .container {
        width: 162rem;
        padding-right: 9rem;
    }

    &__nav-desk {
        display: flex;
        ul {
            margin-right: 10rem;
        }
        ul:nth-child(2) {
            margin-right: 15rem;
        }
        ul:nth-child(3) {
            margin-right: 17rem;
        }
        ul:last-child {
            margin-right: 0;
        }
        li {
            font-family: "GilroyBold",sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 1.7rem;
            line-height: 171% ;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 2rem;
        }

        li:last-child {
            margin-bottom: 0;
        }
    }


    &__social {
        display: flex;
        margin-top: 2rem;
        a {
            width: 6rem;
            height: 6rem;
            margin-right: 2.8rem;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                
                &::after {
                    animation-play-state: paused;
                    transition: 0.25s linear infinite;
                    
                }
            }
            &::after {
                content: ''; // Нужно для отображения псевдокласса
                position: absolute;
                border: 0.1rem solid #fFF; // Ширину обводки можете выбрать сами
                transition: 0.25s linear infinite;
                left: -0.5rem;
                opacity: 0;
                right: -0.5rem;
                top: -0.5rem;
                bottom: -0.5rem;
                border-radius: 50%;
                animation: pulse 2.5s linear infinite;
            }
        }
        a:last-child {
            margin-right: 0;
        }
    }


    // @keyframes pulse {
    //     0% {
    //       transform: scale(1);
    //       opacity: 0;
    //     }
    //     50% {
    //       opacity: 1;
    //     }
    //     100% {
    //       transform: scale(1.2);
    //       opacity: 0;
    //     }
    // }

   &__right {
    margin-left: auto;
   }

   &__right-inf {
        display: flex;
        flex-direction: column;
        margin-bottom: 2.4rem;

        span {
            font-style: normal;
            font-weight: 500;
            font-size: 1.7rem;
            line-height: 2.1rem;
            margin-bottom: 1.2rem;
            display: block;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        a {
            font-style: normal;
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2.2rem;
            display: block;
            color: #FFFFFF;

        }

        p {
            font-style: normal;
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2.2rem;
            display: block;
            color: #FFFFFF; 
        }
   }

   &__policy {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.2rem;
    display: inline-block;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    margin-top: 2.4rem;
   }
}

