.hub-model {
    margin-top: 11.6rem;
    margin-bottom: 18.54rem;
    .container {
        width: 168rem;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        .model {
            display: flex;
            margin-right: 5rem;
            margin-bottom: 4rem;
        }

        .model:nth-child(6n) {
            margin-right: 0;
        }
    }

    &__btn-all {
        font-family: 'EuropeExt',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 2rem;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #242424;
        text-decoration: underline;
        margin-top: 1rem;
        margin: 0 auto;
        display: block;
    }

    &__mobile {
        display: none;
    }
}