.main {
    position: relative;
    .container {
        width: 100%;
        
    }
    &__swiper {
        
        overflow: hidden;
        width: 100%;
       
    }

    &__swiper-wrapper {
        height: auto;
    }

    &__mob {
        display: none;
    }
    

    &__link {
        width: 100%;
        font-family: 'EuropeExt' ,sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 2.5rem;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        height: 10.5rem;
        transition: 2s;
        &:hover {
            transition: 2s;
            color: #242424;
            padding-left: 2rem;
            padding-right: 2rem;
            &::after {
                left: 0;
              
                transition: left  1s;
            }

            &::before {
                transition: 2s;
                background-image: url(../img/icon/arrowblacklink.svg);
                right: 2rem;
            }
        }
        &::before {
            position: absolute;
            content:'';
            width: 3.4rem;
            height: 1.2rem;
            top: 50%;
            transform: translate(0, -50%);
            right: 0;
            background-image: url(../img/icon/arrowwhitenext.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            transition: 2s;
        }

        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: -200%;
            width: 200%;
            z-index: -1;
            height: 100%;
            background: #EAECED;
            transition: left  0.5s;
          }
    }


    &__slide-top {
        display: flex;
        padding-bottom: 3.8rem;
        border-bottom: 1.5px solid rgba(255, 255, 255, 0.6);
        justify-content: space-between;
        align-items: center;
       
    }

    &__slide-title-text{
        font-style: normal;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 156% ;
        text-align: right;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
        display: inline-block;
        width: 37.2rem;
        padding-top: 9rem;
       
    }

    &__slide-title {
        font-family: 'Kyiv*Type Serif';
        
        font-size: 8rem;
        line-height: 9.6rem;
        text-transform: uppercase;
        color: #FFFFFF;
        span {
            font-family: 'EuropeExt';
            font-weight: normal;
	        font-style: normal;
            font-size: 8rem;
            line-height: 8.9rem;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }




    &__slide-content-inner {
        padding-left: 15rem;
        padding-right: 15rem;
        padding-bottom: 10rem;
        padding-top: 52.1rem;
    }

    &__slide-content-image {
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -1;
        img {
            width: 100%;
          
            
            
        }
    }

  

    &__swiper-two {
        width: 18.4rem;
        margin-bottom: 12.1rem;
        overflow: hidden;
        display: block;
        margin-right: initial;
        position: absolute;
        right: 15rem;
        top: 27.1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__slide-two {
        width: 18.4rem;
        height: 18.4rem;
        max-height: 18.4rem;
       
        
    }

    &__slide-content-two {
        width: 18.4rem;
        height: 18.4rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__slide-content-two-image {
        width: 14.7rem;
        height: 14.7rem;
        border-radius: 50%;
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    &__slide-circle {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;
        .svg-ops {
            opacity: 0.2;
        }
      
      
    }

   

    &__swiper-two-pagination {
        position: relative;
        justify-content: space-between;
        width: fit-content;
        margin-bottom: 3.6rem;
        font-size: 0;
        top: 1.2rem;
        left: 0.6rem;
        display: flex;
        .swiper-pagination-current,
        .swiper-pagination-total  {
            
            font-family: 'EuropeExt',sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 2.2rem;
            line-height: 176%;
            color: #fff;

        }


        .swiper-pagination-current {
            position: relative;
            
        }

        .swiper-pagination-total {
            position: relative;
            display: none;
        }

    }

   

    .swiper-slide-active {
        .main__slide-circle {
            .svg-white {
              opacity: 1;
              stroke-dasharray: 140;
              stroke-dashoffset: 0;
              animation: paginationAnimation 12s linear;
            }
            
          }
    }


   

   
    
 
}


