@media only all and  (max-width: 48em) { 

    .pagination {
        width: fit-content;
        position: relative;
        &__arrows {
            display: flex;
            position: relative;
            z-index: 3;
        }
    
    
        &__next {
            width: 16rem;
            height: 16rem;
            background: none;
            border: 1.5px solid rgba(189, 191, 197, 0.4);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: relative;
            padding-top: 3rem;
            svg {
                width: 6.8rem;
                height: 2rem;
                fill: #242424;
            }
    
            
        }
    
        &__prev {
            width: 16rem;
            height: 16rem;
            background: none;
            border: 1.5px solid rgba(189, 191, 197, 0.4);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: relative;
            margin-right: 2.4rem;
            padding-top: 3rem;
            svg {
                width: 6.8rem;
                height: 2rem;
                fill: #242424;
            }
        }
    
        .swiper-button-disabled {
            svg {
                width: 6.8rem;
                height: 2rem;
                fill: #969696;
            }
        }
    
        &__fraction {
            position: absolute;
            justify-content: space-between;
            padding-left: 6rem;
            padding-right: 6rem;
            font-size: 0;
            top: 1.2rem;
            display: flex;
            .swiper-pagination-current,
            .swiper-pagination-total  {
                
                font-family: 'EuropeExt',sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 3rem;
                line-height: 200%;
                color: #242424;
    
            }
    
    
            .swiper-pagination-current {
                position: relative;
                
            }
    
            .swiper-pagination-total {
                position: relative;
            }
    
        }
    
        
    
        
    }
       

   .title {
     font-size: 6.6rem;
     line-height: 120%;

     span {
        font-size: 6.6rem;
     }
   }

   .header {
    margin-top: 0;
    padding-top: 5.1rem;
     .container {
        width: 100%;
        padding: 0 3rem;
     }

     &__phone {
        display: none;
     }

     &__lists {
        flex-direction: column;
     }

     &__item {
        margin-bottom: 4rem;
        padding: 0;
        font-size: 2.6rem;
        &::before {
            display: none;
        }
     }

     &__whatt {
        display: block;
        width: 12.2rem;
        height: 11.2rem;
        position: relative;
        z-index: 5;
        top: -1rem;
     }

     &__logo {
        height: 10rem;
        width: 14.3rem;
        position: relative;
        z-index: 5;
     }
    .open-nav {
        left: 0;
        top: 0;
        padding-top: 30rem;
    }

     &__burger {
        display: flex;
        justify-content: center;
        padding-top: 5.1rem;
        width: 11.5rem;
        height: 11.5rem;
        border: 1px solid #fff;
        border-radius: 50%;
        position: relative;
        transition-duration: 1s;
        cursor: pointer;
       
        z-index: 4;
        span {
            height: 0.5rem;
            width: 4.9rem;
            background-color: #fff;
            border-radius: 20%;
            position: absolute;
            transition-duration: .25s;
            transition-delay: .25s;    
            &::before {
                left: 0;
                position: absolute;
                top: -7px;
                height: 0.5rem;
                width: 4.9rem;
                background-color: #fff;
                border-radius: 20%;
                content: "";
                transition-duration: .25s;
                transition: transform .25s, top .25s .25s;
            }

            &::after {
                left: 0;
                position: absolute;
                top: 7px;
                height: 0.5rem;
                width: 4.9rem;
                background-color: #fff;
                border-radius: 20%;
                content: "";
                transition-duration: .25s;
                transition: transform .25s, top .25s .25s;
            }
        }

     
    }




    &__lk {
        display: none;
    }


    &__burger.open {
        span {
            transition-duration: 0.1s;
            transition-delay: .25s;
            background: transparent;
        }
        span:before {
            transition: top .25s, transform .25s .25s;
            top: 0px;
            transform: rotateZ(-45deg);
        }
        span:after {
            transition: top 0.4s, transform .25s .25s;
            top: 0px;
            transform: rotateZ(45deg);
        }
    }
  
 


    &__nav {
        display: block;
        margin-right: 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 2;
        padding-left: 4rem;
        left: -200rem;
        height: 100vh;
        transition: all 0.5s;
        background: #242424;
        padding-bottom: 8rem;
    }
   }

.header--two {
    .header__burger {
        border: 1px solid #242424;
      
        span {
           
            background-color: #242424;
              
            &::before {
               
                background-color: #242424;
               
            }

            &::after {
                
                background-color: #242424;
                
            }
        }

     
    }


    .header__whatt {
        display: block;
        width: 12.2rem;
        height: 11.2rem;
        position: relative;
        z-index: 5;
        top: -1rem;
        svg {
            stroke: #242424;

            path {
                stroke: #242424;
            }

            circle {
                stroke: #242424;
            }
        }
     }

     .header__logo {
        height: 10rem;
        width: 14.3rem;
        position: relative;
        z-index: 5;
     }
   }

   

   .main {
    .container {
        padding: 0;
    }

        &__desk {
            display: none;
        }

        &__mob {
            display: block;
        }

        &__slide-content-inner {
            padding: 110.1rem 3.4rem 19rem;
        }

        &__slide-top {
            flex-direction: column;
            align-items: initial;
            padding-bottom: 5.6rem;
        }

        &__slide-title {
            font-size: 6.5rem;
            line-height: 7.9rem;
            margin-bottom: 1.7rem;
            span {
                font-weight: 700;
                font-size: 6.6rem;
                line-height: 120%;
            }

        }

        &__slide-title-text {
            text-align: left;
            font-weight: 500;
            font-size: 2.8rem;
            line-height: 154%;
            width: 100%;
            padding-top: 1.4rem;
          
        }

        &__link {
            font-weight: 700;
            font-size: 3.3rem;
            line-height: 2.8rem;
            padding-top: 2rem;
            &::before {
                width: 7.2rem;
                height: 3rem;
                top: 2.1rem;
            }
        }

        &__swiper-two {
            width: 22rem;
            height: 31rem;
            right: initial;
            left: 3rem;
            top: 68rem;
        }

        &__slide-content-two {
            width: 23rem;
            height: 23rem;
        }

        &__slide-content-two-image {
            width: 18rem;
            height: 18rem;
        }



        &__swiper-two-pagination {
            width: fit-content;
            margin-bottom: 3rem;
            left: 0.2rem;
            .swiper-pagination-current,
            .swiper-pagination-total  {
                
                font-family: 'EuropeExt',sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 3.1rem;
                line-height: 176%;
                color: #fff;
    
            }
    
    
            
        }
   }

   .link {
    font-size: 3rem;
    line-height: 2.8rem;
    padding-right: 8.8rem;
    
    &::before {
        width: 6.4rem;
        height: 2rem;
    }
   }

   .shooting {
    margin-bottom: 23rem;
     padding-top: 14.5rem;
     .container {
        width: 100%;
        padding: 0 4rem;
     }

     &__nav {
        display: none;
     }

     &__swiper {
        width: 100%;
     }

     &__slide-content {
        flex-direction: column;
     }

     &__slide-content-inner  {
        width: 100%;
        max-width: 100%;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 8rem;
        &::before {
            display: none;
        }
     }

     &__slide-image {
        width: 82.2rem;
        min-width: 82.2rem;
        max-width: 82.2rem;
        height: 87.2rem;
        margin: 0 auto;
        left: -2rem;
     }

     &__slide-text {
        font-weight: 500;
        font-size: 2.6rem;
        line-height: 154%;
        text-align: center;
        margin-bottom: 1.9rem;
     }

     &__slide-title {
        text-align: center;
        font-size: 6.6rem;
        line-height: 120%;
        margin-bottom: 2.4rem;

        span {
            font-size: 6.6rem;
        }
     }

     &__pagination {
        display: flex;
        justify-content: center;
     }

     
    &__bullets {
        display: flex;
        justify-content: center;
        margin-top: 7.4rem;
    }

    .link {
        font-size: 3.37rem;
    }


   }

   .modern-co {
        
        margin-bottom: 21.7rem;
        .container {
            padding: 0 3rem;
            width: 100%;
        }

        &__title {
            text-align: left;
            font-size: 5rem;
            line-height: 5.3rem;
            margin-bottom: 4.63rem;

            span {
                font-size: 5rem;
            }
            p {
                padding-left: 0;
            }
        }

        &__top-text {
            left: 0;
            width: 83%;
            font-weight: 500;
            font-size: 2.9rem;
            line-height: 154%;
            margin-bottom: 5rem;
        }
        .link {
            left: 0;
            font-size: 3.3rem;
            padding-right: 9.6rem;
            &::before {
                width: 7.4rem;
                height: 2.5rem;
            }
        }

        &__wrapper {
            flex-direction: column;
        }

        &__top {
            position: initial;
            margin-bottom: 9.2rem;
        }

        &__right-image-block  {
            width: 37.4rem;
            height: 55.4rem;
            padding-top: 0;
        }

        &__right-image-bag {
            width: 25.6rem;
            height: 22.6rem;
            margin-bottom: 1.4rem;
        }

        &__right-image-stand-big {
            height: 10.2rem;
            left: 4rem;
            width: 37.6rem;
        }

        &__left {
            padding-top: 0;
        }

        &__left-text {
            font-size: 2.8rem;
            line-height: 154%;
            
            width: 21.6rem;
            margin-bottom: 12rem;
            margin-left: 0;
            padding-left: 0.3rem;
        }

        &__image-shoes {
            width: 23.1rem;
            position: relative;
            left: 3rem;
            top: 3rem;
        }
   }

  
   .banner {
    margin-bottom: 22.6rem;
    overflow: hidden;
        .container {
            width: 100%;
            padding: 0 3rem;
        }

        &__swiper {
            height: 135.2rem;
        }

        &__pagination {
            position: absolute;
        }

        &__content {
            height: 100%;
            flex-direction: column-reverse;
            padding-top: 0rem;
        }

        &__image {
            height: 69.2rem;
            width: 100%;
        }


        &__line {
            width: 100%;
        }


        &__line-mob {
            display: block;
            img {
                width: 100%;
                height: 100%;
            }
        }

        &__line-desk {
            display: none;
        }

        
        &__line {
            z-index: 2;
        }

        &__image {
            height: 75rem;
            max-height: 76rem;
            width: 84%;
            position: relative;
            left: 11rem;
            top: initial;

            img {
                object-fit: contain;
            }
        }

        &__block {
            padding-top: 9rem;
            padding-left: 4rem;
            margin-bottom: auto;
        }

        &__title {
            display: none;
        }

        &__title-mob {
            display: block;
            font-family: 'Kyiv Type Serif';
            font-style: normal;
            font-weight: 200;
            font-size: 5.3rem;
            line-height: 128%;
            text-transform: uppercase;
            margin-bottom: 2.5rem;
            span {
                font-weight: 700;
                font-size: 5.3rem;
                font-family: 'EuropeExt',sans-serif;

            }
        }
        
        &__text {
            font-size: 2.9rem;
            line-height: 154%;
            width: 86%;
            margin-bottom: 3rem;
        }

        .link {
            font-size: 3.4rem;
        }

        .pagination  {
         
            height: fit-content;
            top: initial;
            bottom: 7.6rem;
            right: 8rem;
            &__next,
            &__prev {
                background: #fff;
                width: 17.2rem;
                height: 17.2rem;

                svg {
                    width: 7rem;
                    height: 3rem;
                    margin-top: 4rem;
                }
            }

            &__fraction {
                top: 3.2rem;
               }

               .swiper-pagination-current,
               .swiper-pagination-total {
                font-size: 3.4rem;
               }

            &__prev {
                margin-right: 3.2rem;
            }
        }
   }


   .article-blog {
        width: 100%;
        &__image {
            height: 76.1rem;
            margin-bottom: 4.5rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
               
            }
        }

        &__title {
            font-size: 3.3rem;
            margin-bottom: 4rem;
            line-height: 130.59%;
            br {
                display: none;
            }
        }

        &__inner {
            padding-top: 2rem;
            padding-bottom: 1rem;
            align-items: center;
            padding-left: 0.3rem;
        }

        &__date {
            font-size: 3.1rem;
            line-height: 223%;
           
        }

        &__time {
            font-size: 3rem;
            line-height: 4rem;
            padding-left: 6.4rem;
            &::before {
                width: 3.2rem;
                height: 3.2rem;
            }
        }
   }
   .blog {
        margin-bottom: 22.5rem;
        &__title {
            margin-bottom: 5.5rem;
        }
        .container {
            width: 100%;
            padding: 0 3.3rem;
        }

        &__slide {
            min-width: 100%;
            margin-right: 0;
        }

        &__pagination {
            display: none;
        }

        &__swiper {
            display: none;
        }


        &__swiper-mob {
            display: block;
        }

        &__slide-mob {
            min-width: 100%;
        }

        &__bullets {
            display: block;
            display: flex;
            justify-content: center;
            width: 92%;
            padding-top: 1rem;
        }
   }



   .models {
    overflow: initial;
    margin-bottom: 19rem;
    &__title {
        text-align: center;
        width: 100%;
        margin-bottom: 5.2rem;
        .title {
            text-align: center;
            margin: 0 auto;
        }
    }
   
     .container {
        width: 100%;
        padding: 0 3rem;
     }

     &__slide {
        min-width: 38rem;
        max-width: 38rem;
     }

     &__swiper  {
        width: 84rem;
        height: 103rem;
     }

     &__bullets {
        display: flex;
        justify-content: center;
        margin-bottom: 6.2rem;
    }


     .mob {
       margin: 0 auto ;
       display: block;
       width: fit-content;
     }

     .desk {
        display: none;
     }


     .model {
        width: 38rem;
        height: 47rem;
     }
    


   }

   .model {
    width: 34rem;
    height: 42.6rem;

    &__name {
        font-size: 3rem;
        line-height: 2.8rem;
        margin-bottom: 0.8rem;
    }

    &__catalog {
        font-size: 2.6rem;
        line-height: 3.2rem;
        margin-bottom: 0.8rem;
    }

    &__status {
        height: 4.8rem;
        font-size: 2.6rem;
        line-height: 3.2rem;
    }

    &__date {
        padding-bottom: 3.2rem;
        font-size: 2.6rem;
        line-height: 130%;
    }
   }

   .catalog {
    margin-top: 22.4rem;
        .container {
            width: 100%;
            padding: 0 3rem;
        }

        &__title {
            align-items:center;
            margin-bottom: 7rem;
        }

        .title {
            font-size: 6rem;
            line-height: 7.2rem;
        }

        &__wrapper {
            margin-bottom: 6.4rem;
            .model {
                width: 37rem;
                margin-right: 4.9rem;
                height: 46.6rem;
            }
            .model:nth-child(2n) {
                margin-right: 0;
            }

            .model:nth-child(6n) {
                margin-right: inherit;
            }
        }

        &__filter-btn {
            padding-top: 0;
            span {
                display: none;
            }

            svg {
                display: block;
                width: 13.2rem;
                height: 12.2rem;
                padding-top: 0;
                margin-top: -1rem;
            }
        }

        &__btn-all {
            font-size: 3rem;
            line-height: 2.8rem;
            font-weight: 700;
        }
   }


   .catalog-filter {
     border: none;
     padding-top: 6rem;
   
     &__wrapper {
        flex-direction: column;
     }


     &__content-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8rem;
        strong {
            font-family: 'EuropeExt';
            font-style: normal;
            font-weight: 700;
            font-size: 6.6rem;
            line-height: 5.6rem;
            text-transform: uppercase;
            color: #242424;
        }
     }

     &__item {
        margin-bottom: 0;
        font-size: 2.6rem;
        line-height: 154%;
        padding-left: 13.4rem;
        
     }

     &__lists {
        display: flex;
        justify-content: space-between;
        margin-right: 0;
        margin-bottom: 6.2rem;
     }

     &__content-left {
        margin-right: 0;
     }

     &__content {
        flex-direction: column-reverse;
     }

     &__wrap {
        margin-bottom: 4rem;
     }

     &__inner {
        margin-right: 4rem;
        label {
            font-size: 3rem;
            line-height: 154% ;
        }
        input {
            width: 37.8rem;
            padding-top: 6.5rem;
            font-size: 3rem;
            line-height: 187%;
            &::placeholder {
                font-size: 3rem;
                line-height: 187%;
            }
            
        }
     }


    &__inner-select {
            label {
                font-size: 2.6rem;
                line-height: 154% ;
            }
    }


    .select {

        font-size: 3rem;
        line-height: 187% ;
        padding-right: 1.2rem;
        width: 100%;
        padding-bottom: 1.9rem;
        
        
    }

    .select-head::after {
        width: 1.6rem;
        height: 1.6rem;
        background: url("../img/icon/filter-arrow.svg") no-repeat center / cover;
        position: absolute;
        right: 0rem;
        transform: translateY(50%);
        content: '';
        display: block;
        transition: .2s ease-in;
        top: 2rem;
    }
    
    .select-head {
        width: 100%;
        max-width: 100%;
        font-size: 3rem;
        line-height: 187% ;
        cursor: pointer;
       
    }


    
  
    
 
    
    .select-list {
        font-size: 3rem;
        line-height: 187% ;
        
    }
    
  
    
    .select-list .select-item {
       
        padding: 2rem 3rem;
       
        
    }
    
    .select-list .select-item:hover {
        background-color: rgba(224, 229, 231, 0.5);
    }

    &__btn-cancellation {

        font-weight: 700;
        font-size: 3rem;
        line-height: 2.8rem;


    }


    &__btns {
        border: none;
        padding-top: 6.98rem;
        padding-bottom: 0;
    }

    &__btn-apply {
        &::before {
            right: 2rem;
            width: 5.4rem;
        }
    }





   }

   .catalog-filter.active {
    
    z-index: 4;
    background: #fff;
    width: 100%;
   
    
    
   }

   .blog-main {
        margin-top: 15rem;
        .container {
            padding:  0 3rem;
        }
        .title {
            padding: 0;
        }

        &__wrapper {
            padding: 0;
            .publication {
                margin-right: 0rem;
                margin-bottom: 4rem;
            }
    
            .publication:nth-child(3n) {
                margin-right: 0;
            }
    
            .publication:nth-last-child(-n+3) {
                margin-bottom: 0;
            }
           
        }

        .mob {
            display: flex;
            flex-direction: column;

            
        }

        .desk {
            display: none;
        }

        &__title {
            display: none;
        }

        .publication:nth-last-child(-n+3) {
            margin-bottom: 4rem;
        }


        &__btn-all {
            font-size: 3rem;
            line-height: 2.8rem;
            font-weight: 700;
        }
   }


   .publication {
    width: 100%;
    height: 66.6rem;
    margin-right: 0;
    &:hover {
      

        .publication__title {
            transition: color 0.4s;
            color: #FFFFFF;
            width: 100%;
        }

       
    }
    &__title {
        font-weight: 700;
        font-size: 4.9rem;
        line-height: 130.59%;
        width: 64%;
     
    }

    

    &__content {
        padding-right: 4rem;
        padding-left: 3.5rem;
        padding-top: 3rem;
        z-index: 2;
        height: 100%;
    }

    &__image {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        opacity: 0;
        transition: opacity 0.4s, visibility 0s linear 0.4s;
        visibility: hidden;
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__text {
        font-style: normal;
        font-weight: 500;
        font-size: 2.9rem;
        line-height: 156%;
        letter-spacing: .02em;
        color: #fff;
        margin-top: 5.2rem;
        width: 56.8rem;
        opacity: 0;
        transition: opacity 0.4s, visibility 0s linear 0.4s;
        visibility: hidden;
    }

    &__date {
        font-size: 2.6rem;
        line-height: 223%;
        margin-top: auto;
       
    }
}

.contacts {
    .container {
        width: 100%;
        padding: 0 3rem;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__block {
        flex-direction: column;
    }

    #map {
        height: 60rem;
        margin-bottom: 6.4rem;
    }

    &__info-title {
        font-weight: 700;
        font-size: 4.4rem;
        line-height: 130.59%;
        margin-bottom: 3.8rem;
    }

    &__info {
        margin-bottom: 12rem;
    }

    &__info-date {
        margin-bottom: 4rem;
        span {
            font-size: 2.6rem;
            line-height: 154%;
            margin-bottom: 1.6rem;
        }

        strong,a  {
            font-weight: 600;
            font-size: 2.6rem;
            line-height: 154%;
            
        }
    }

    &__info-social {
      

        a {
            width: 12.2rem;
            height: 12.2rem;
            margin-right: 6.2rem;
        }
    }


    &__form-title {
        font-weight: 700;
        font-size: 4.4rem;
        line-height: 130.59%;
        margin-bottom: 3.8rem;
    }


    &__form-inner {
        margin-bottom: 4rem;
        label {
            font-size: 3rem;
            line-height: 154% ;
        }
        input {
            width: 100%;
            padding-top: 1.4rem;
            font-size: 3rem;
            line-height: 187%;
            &::placeholder {
                font-size: 3rem;
                line-height: 187%;
            }
            
        }
    }

    .link {
        margin-top: 2rem;
    }
}

.card-news {
    margin-top: 12.7rem;
    .container {
        width: 100%;
        padding: 0 3rem;
    }

    &__title {
        width: 73%;
        margin-bottom: 7rem;
        strong {
            padding-left: 0;
            font-size: 6.7rem;
            width: 100%;
            line-height: 119%;
            margin-bottom: 1.9rem;
            &::before {
                display: none;
            }
        }

        span {
            padding-left: 0;
            font-size: 2.87rem;
        }
    }

    &__text {
        margin-left: 0;
        width: 100%;

        strong {
            line-height: 4.3rem;
            font-size: 3.3rem;
        }

        p {
            font-style: normal;
            font-weight: 500;
            font-size: 2.9rem;
            
            line-height: 145%;
            letter-spacing: 0.02em;
        }
        
    }

    &__image-box {
        flex-direction: column;
        margin-bottom: 4rem;
    }

    &__image {
        width: 100%;
        height: 68rem;
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__image-box-name {
        border: 0;
        width: 100%;
        padding-top: 4.2rem;
        text-align: right;
        font-size: 2.9rem;
        position: relative;
        &::before {
            position: absolute;
            content:'';
            left: 0;
            height: 1.5px;
            background:  rgba(142, 142, 142, 0.6);
            width: 23rem;
            top: 79%;
        }
    }

    &__inner {
        flex-direction: column-reverse;

        .card-news__text {
            margin-left: 0;
        }
    }

    &__note {
        margin-top: 4.8rem;
        width: 100%;
        padding-top: 4.8rem;

        span {
            font-size: 2.8rem;
        }

        strong {
            font-size: 3rem;
        }
    }
}

.read-also {
    .container {
        width: 100%;
        padding: 0 3rem;
    }

    &__wrapper {
        flex-direction: column;
    }

    &__title {
        .link {
            display: none;
        }


    }

    .publication{
        margin-bottom: 4rem;
    }
}

.entry {
    .container {
        width: 100%;
        padding: 0;
    }


    &__swiper-two {
        width: 22rem;
        height: 31rem;
        right: 3.2rem;
        top: 57rem;
    }

    &__image-slide-content {
        height: 178rem;
    }

    &__next-photo {
        display: block;
        width: 12rem;
        height: 12rem;
        margin-right: 2rem;
        margin-top: 5rem;
        cursor: pointer;
    }

    &__slide-content-two {
        width: 23rem;
        height: 23rem;
    }

    &__slide-content-two-image {
        width: 18rem;
        height: 18rem;
    }



    &__swiper-two-pagination {
        width: fit-content;
        margin-bottom: 3rem;
        left: 0.2rem;
        .swiper-pagination-current,
        .swiper-pagination-total  {
            
            font-family: 'EuropeExt',sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 3.1rem;
            line-height: 176%;
            color: #fff;

        }


        
    }

    &__block {
        padding-left: 3rem;
        padding-right: 1rem;
        padding-top: 35rem;
    }

    &__select {
        display: block;
        margin-bottom: 8rem;
        label {
            font-style: normal;
            font-weight: 500;
            font-size: 3rem;
            line-height: 154%;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            display: block;
            margin-bottom: 1rem;
            

        }
    }

    &__title {
        margin-bottom: 28rem;
    }

    .select {
        padding-top: 1.1rem;
        position: relative;
        display: block;
        background: none;
        font-style: normal;
        font-weight: 500;
        font-size: 3rem;
        line-height: 127% ;
        letter-spacing: 0.02em;
        padding-right: 1.2rem;
        width: 37.4rem;
        padding-bottom: 1.7rem;
        border-bottom: 1px solid #fff;
        &:hover {
           

            .header__select-head {
                color: #fff;
                transition: 0.2s
            }
        }
        
    }
    
    .select-head {
        width: 100%;
        max-width: 100%;
        font-weight: 500;
        font-size: 3.5rem;
        line-height: 127% ;
        letter-spacing: 0.02em;
        text-transform: lowercase;
        color: #fff;
        cursor: pointer;
       
    }


    
    .select-head::after {
        width: 2rem;
        height: 1.5rem;
        background: url("../img/icon/filter-arrow-white.svg") no-repeat center / cover;
        position: absolute;
        right: 0rem;
        transform: translateY(50%);
        content: '';
        display: block;
        transition: .2s ease-in;
        top: 1.7rem;
    }
    
    .select-head.open::after {
        transform: translateY(50%) rotate(180deg);
    }
    
    .select-list {
        
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        max-height: 20.5rem;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 2;
        margin: 0;
        padding: 0;
        background: #fff;
        font-weight: 500;
        font-size: 3rem;
        line-height: 127% ;
        letter-spacing: 0.02em;
        text-transform: lowercase;
        overscroll-behavior: contain;
    }
    
  
    
    .select-list .select-item {
        position: relative;
        padding: 1rem 1.5rem;
        padding-left: 0.2rem;
        cursor: pointer;
        list-style-type: none;
        
    }
    
    .select-list .select-item:hover {
        background-color: rgba(224, 229, 231, 0.5);
    }


    &__inner {
        width: 100%;
        padding-left: 0.4rem;
        margin-bottom: 6rem;
        .entry__inner-text:nth-last-of-type(-n+3) {
            margin-bottom: 0;
        }
    }

    &__inner-text {
        margin-bottom: 6.5rem;
        span {
            font-size: 2.9rem;
        }

        strong {
            font-size: 3.4rem;
        }
    }

    &__text {
        padding-left: 1rem;

        span {
            font-size: 2.8rem;
            margin-bottom: 1.4rem;
        }

        strong {
            
            font-size: 3.25rem;
        }
    }

    &__pagination {
        display: none;
    }

    &__tables {
        display: none;
    }

    &__style {
        padding-top: 9rem;

        strong {
            font-size: 3.3rem;
        }

        span {
            font-size: 2.9rem;
        }
    }

    &__btn {
        padding-left: 0.6rem;
        font-size: 3.3rem;
        padding-top: 5rem;

        span {
            display: inline-block;
            width: 100%;

            &::before {
                position: absolute;
                content: '';
                width: 7.4rem;
                height: 2.5rem;
                background-image: url(../img/icon/arrowwhitenext.svg);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                right: 2rem;
                top: 41%;
            }
        }
    }




}
  .hub-model {
    margin-top: 5.3rem;
    margin-bottom: 21.9rem;
    .container {
        width: 100%;
        padding: 0 3rem;
    }

    &__wrapper {
        display: none;
    }

    &__mobile {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 4rem;
        .model {
            width: 37rem;
            margin-right: 4.9rem;
            height: 46.6rem;
            margin-bottom: 4rem;
        }
        .model:nth-child(2n) {
            margin-right: 0;
        }

        .model:nth-child(6n) {
            margin-right: inherit;
        }
    }

    &__all-btn {
        font-size: 3.3rem;
            line-height: 2.8rem;
            font-weight: 700;
    }
  }

.types-model {
    margin-bottom: 17.2rem;
    .container {
        width: 100%;
        padding: 0 3rem;
    }

    &__nav {
        display: none;
    }

    &__swiper {
        width: 100%;
    }

    &__slide-content {
        padding-left: 0;
        &::before {
            display: none;
        }
    }

    &__slide-title-mob {
        display: block;
        font-style: normal;
        font-weight: 500;
        font-size: 3.4rem;
        padding-top: 0.4rem;
        line-height: 3.4rem;
        margin-bottom: 2rem;
        color: #969696;
    }

    &__slide-title {
        font-size: 6.5rem;
        margin-bottom: 7.2rem;
        span {
            font-size: 6.5rem;
        }
    }
    &__inner {
        padding-bottom: 1rem;
        margin-bottom: 3.6rem;
    }

    &__number {
        font-size: 3.3rem;
        max-width: 59rem;
    }

    &__price {
        font-size: 3.3rem;
        b {
            display: none;
        }

        span {
            font-size: 3.3rem;
        }
    }

    &__bullets {
        display: flex;
        justify-content: center;
        margin-top: 0.4rem;
    }
}

  .options-m {
    margin-bottom: 25rem;
    .container {
        width: 100%;
        padding: 0 3rem;
    }

    &__left {
        width: 100%;
        margin-right: 0;
        margin-bottom: 2.5rem;
    }

    &__title {
        padding-left: 0.4rem;
        margin-bottom: 5.5rem;
        span {
            font-size: 2.9rem;
        }

        strong {
            font-size: 6.8rem;
            line-height: 8rem;
            padding-right: 14rem;
        }
    }

    &__lists {
        li {
            font-size: 3.3rem;
            margin-bottom: 3.7rem;
            padding-left: 3.8rem;
            &::before {
                width: 1.2rem;
                height: 1.2rem;
            }
        }

        
    }

    &__wrapper {
        flex-direction: column;
    }

    &__video {
        width: 100%;
        height: 78rem;
        img {
            height: 100%;
        }
    }

    &__video-play {
        width: 11.378rem;
        height: 11.376rem;
    }
  }

  .example {
    .container {
        width: 100%;
        padding: 0 3rem;
    }

    .title {
        font-size: 6.6rem;
        text-align: left;
        margin-bottom: 6rem;
        span {
            font-size: 6.6rem;
        }
    }

    &__btn-all {
        font-size: 3.3rem;
            line-height: 2.8rem;
            font-weight: 700;
    }

    &__wrapper {
        margin-bottom: 8rem;
        .product-model {
            margin-right: 4.5rem;

            &__image {
                width: 37.5rem;
                height: 46.8rem;
                display: block;
                margin-bottom: 4.249rem;
            }

            &__name {
                font-size: 2.9rem;
                line-height: 150%;
                color: #969696;
            }
            
        }
        
        .product-model:nth-child(2n) {
            margin-right: 0;
        }
    }
  }

  .card-model {
    margin-top: 9.5rem;
    .container {
        width: 100%;
        padding: 0 3rem;
    }

    &__wrapper {
        flex-direction: column-reverse;
    }

    &__left {
        .card-model__link {
            display: none;
        }

        .card-model__title {
            display: none;
        }

        .card-model__status {
            display: none;
        }
    }




    &__link {
        font-size: 2.9rem;
        width: fit-content;
        border-bottom: 1px solid #969696;
        padding-bottom: 1.3rem;
        margin-bottom: 7rem;
    }

    &__title {
        margin-bottom: 3.9rem;
       span {
        font-size: 2.9rem;
       }

       strong {
        font-size: 6.6rem;
       }
    }

    &__status {
        padding: 2.9rem;
        width: 48.8rem;
        font-size: 2.9rem;
        padding-left: 2rem;
        padding-right: 1rem;
    }


    &__swiper {
        width: 100%;
        overflow: hidden;
        padding-top: 6.9rem;
        margin-bottom: 4rem;
    }

    &__video {
        width: 100%;
        height: 105.6rem;
    }

    &__mswiper-content {
        height: 33.4rem;
        width: 25rem;

        img {
            height: 100%;
        }
    }

    &__bullets {
        display: flex;
        justify-content: center;
        margin-top: 6rem;
    }

    &__pagination {
        display: none;
    }

    &__video-play {
        width:11.378rem;
        height: 11.376rem;
    }

    &__mswiper {
        display: block;
        margin-bottom: 7rem;
    }

    &__right-text {
        display: none;
    }

    &__date {
        margin-right: 0;
    }

    &__right-inner {
       
        margin-top: 8.2rem;
    }

    &__date-title {
        font-size: 2.9rem;
        line-height: 2.1rem;
        margin-bottom: 1.6rem;
        text-transform: uppercase;
        color: #969696;
    }

    &__date-table {
        width: 26.8rem;
        height: 15.8rem;
        padding: 0;
        align-items: initial;
        text-align: center;
        justify-content: initial;
        padding-top: 3rem;
        strong {
            font-size: 3.3rem;
            margin-bottom: 1.2rem;
        }

        span {
            font-size: 3rem;
        }
    }

    &__left {
        width: 100%;
    }

    &__block {
        width: 100%;
        grid-template-columns: repeat(3,2fr);
        margin-bottom: 5.6rem;
        .card-model__data:nth-last-of-type(-n + 3) {
            margin-bottom: 0;
        }
    }

    &__data {
        margin-bottom: 7rem;
        span {
            font-size: 3rem;
            display: block;
            margin-bottom: 1.2rem;
        }

        strong {
            font-size: 3rem;
        }
    }

    .mob {
        display: block;
    }

    &__text {
        margin-bottom: 6.2rem;
        span {
            font-size: 3rem;
            display: block;
            margin-bottom: 1.3rem;
        }

        strong {
            font-size: 3.3rem;
        }
    }


    &__right {
        margin-bottom: 5rem;
        .card-model__link {
            display: block;
        }

        .card-model__title {
            display: block;
        }

        .card-model__status {
            display: block;
        }
    }
  }

  .card-model--two {
    margin-bottom: 20rem;
    padding-bottom: 0;
     .card-model__link {
        margin-bottom: 23.5rem;
    }

    .card-model__national {
        font-family: 'EuropeExt';
        font-style: normal;
        font-weight: 700;
        font-size: 5rem;
        line-height: 4.6rem;
        text-transform: uppercase;
        color: #242424;
        position: absolute;
        top: 20rem;
    }
  }

  .record {
    .container {
        width: 100%;
        padding: 0 3rem;
    }

    &__form-wrap {
        flex-direction: column;
    }

    &__photo-inner {
        flex-direction: column;
    }

    &__wrapper {
       
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
       
        &::-webkit-scrollbar {
            display: none;
          }
    }


    &__form-inner {
        width: 100%;
        margin-bottom: 4rem;
        label {
            font-size: 3rem;
            line-height: 154% ;
        }
        input {
            width: 100%;
            padding-top: 1.4rem;
            font-size: 3rem;
            line-height: 187%;
            &::placeholder {
                font-size: 3rem;
                line-height: 187%;
            }
            
        }
        
    }

    &__form-wrap {
        margin-bottom: 4.2rem;
    }

    &__form-crib {
        font-size: 3rem;
        padding-top: 2.4rem;
    }

    &__form-inner:last-child {
        margin-top: 6.4rem;
    }

    &__form-inner {
        margin-top: 0;
    }

    &__photo-title {
        font-size: 3rem;
        line-height: 4rem;
    }

    &__custom-checkbox{
        position: absolute;
        z-index: -1;
        opacity: 0;
      }
  
      &__custom-checkbox+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        cursor: pointer;
        font-style: normal;
        font-weight: 500;
        font-size: 3rem;
        line-height: 2.7rem;
        letter-spacing: 0.02em;
      }
  
      /* создание в label псевдоэлемента before со следующими стилями */
      &__custom-checkbox+label {

        &::before {
            content: '';
            display: inline-block;
            width: 3.2rem;
            height: 3.2rem;
            flex-shrink: 0;
            flex-grow: 0;
            border: 0.15rem solid #242424;
            border-radius: 0.2rem;
            margin-right: 1.6rem;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }
       
    }
  
    &__custom-checkbox:checked+label {
        
        &::before {
           
            background-image: url("../img/icon/galka.svg");
            background-size: 80%;
        }
        
    }

    &__photo-article {
        margin-bottom: 2rem;
    }

    &__annotation {
        font-size: 3rem;
        line-height: 3.4rem;
    }

 


    &__photo-article-block {
        margin-top: 3rem;
        margin-bottom: 5rem;
        display: none;
        label {
            font-size: 2.8rem;
            margin-bottom: 1.6rem;
        }

        input {
            width: 100%;
            font-size: 3rem;
            padding-bottom: 2.2rem;
        }

        span {
            font-size: 2.8rem;
            line-height: 169%;
            padding-top: 1.6rem;
        }
        
    }


    &__photo-article.active {
        .record__photo-article-block {
            display: flex;
            align-items: initial;
            opacity: 1;
            transition: opacity 0.25s;
        }
    }

    .select {
        padding-top: 1.1rem;
        position: relative;
        display: block;
        background: none;
        font-style: normal;
        font-weight: 500;
        font-size: 3rem;
        line-height: 127% ;
        letter-spacing: 0.02em;
        padding-right: 1.2rem;
        width: 100%;
        padding-bottom: 1.7rem;
       
        &:hover {
           

            .header__select-head {
              
                transition: 0.2s
            }
        }
        
    }
    
    .select-head {
        width: 100%;
        max-width: 100%;
        font-weight: 500;
        font-size: 3.5rem;
        line-height: 127% ;
        letter-spacing: 0.02em;
        text-transform: lowercase;
       
        cursor: pointer;
       
    }


    
    .select-head::after {
        width: 2rem;
        height: 1.5rem;
        background: url("../img/icon/filter-arrow.svg") no-repeat center / cover;
        position: absolute;
        right: 0rem;
        transform: translateY(50%);
        content: '';
        display: block;
        transition: .2s ease-in;
        top: 1.7rem;
    }
    
    .select-head.open::after {
        transform: translateY(50%) rotate(180deg);
    }
    
    .select-list {
        
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        max-height: 20.5rem;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 2;
        margin: 0;
        padding: 0;
        
        font-weight: 500;
        font-size: 3rem;
        line-height: 127% ;
        letter-spacing: 0.02em;
        text-transform: lowercase;
        overscroll-behavior: contain;
    }
    
  
    
    .select-list .select-item {
        position: relative;
        padding: 1rem 1.5rem;
        padding-left: 0.2rem;
        cursor: pointer;
        list-style-type: none;
        
    }
    
    .select-list .select-item:hover {
        background-color: rgba(224, 229, 231, 0.5);
    }

    &__select {
        span {
            font-size: 3rem;
            margin-bottom: 1.8rem;
        }
    }

    &__total {
        font-size: 3rem;
        margin-bottom: 2.4rem;
        b {
            font-size: 2rem;
        }
    }

    &__inner-check {
        .record__checkbox {
            margin-bottom: 2rem;
        }
        .record__custom-checkbox+label {
            font-size: 3rem;
            line-height: 4.2rem;
        }
    }




  }

  .record-form {
    margin-right: 4rem;
    min-width: 52.3rem;
    &__price {
        padding-left: 0;
        font-size: 3rem;
        
        span {
            font-size: 2.4rem;
        }
    }

    &__video {
        margin-bottom: 4rem;
        min-height: 66.8rem;
        img {
            height: 100%;
        }
    }

    &__block {
        flex-direction: column;
        align-items: initial;
    }

    &__block-text {
        font-size: 3rem;
        width: 100%;
        margin-bottom: 2.2rem;
        br {
            display: none;
        }
    }

    .minus.plus {
        width: 12rem;
        height: 12rem;
        font-size: 2rem;
    }
    .count {
        font-size: 3rem;
    }


 
  }


   .footer {
       overflow: hidden;
        padding: 0;
        padding-top: 8rem;
        padding-bottom: 9rem;
     &__nav-desk{
        display: none;
     }

     .container {
        width: 100%;
        padding: 0 3.2rem;
     }

     &__right {
        margin-left: initial;
        margin-top: 7.4rem;
     }

     &__wrapper {
        flex-direction: column;
        padding-top: 0.9rem;
     }

     &__policy {
        flex-direction: column;
     }

     &__nav-mobile {
        display: flex;
       

        ul {
            margin-right: 10.4rem;
        }

        ul:last-child {
            margin-right: 0;
        }
        
        li {
            font-style: normal;
            font-weight: 700;
            font-size: 2.9rem;
            line-height: 4rem;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 4.8rem;
        }

        li:last-child {
            margin-bottom: 0;
        }
     }


     &__right-inf {
        margin-bottom: 5.1rem;
        span {
            font-size: 2.8rem;
            line-height: 4rem;
            margin-bottom: 1.6rem;
        }

        a {
            font-size: 2.8rem;
            line-height: 3.2rem;
        }
     }

     &__social {
        a {
            width: 12.2rem;
            height: 12.2rem;
            margin-right: 6.2rem;
        }
     }

     &__policy {
        margin-right: 0;
        margin-top: 7.2rem;

        span {
            font-size: 2.9rem;
            line-height: 3.2rem;
            margin-bottom: 2.4rem;
        }
     }

    

     
   }
  
    
}