.modal-order {
  width: 162rem;
  padding: 16.2rem;
}

@media (max-width: 48em) {
  .modal-order {
    width: 72rem;
    padding: 12rem 6rem 8rem 6rem;

    .feedback__title {
      text-align: center;
    }

    .feedback__text {
      padding-right: 0;
      text-align: center;
    }
  }
}