.modal {
  position: relative;
  // display: none;
  margin-bottom: 0;
  background-color: #ECEDF0;
  box-shadow: 0.5rem 0.4rem 1.6rem rgba(0, 0, 0, 0.1);
  cursor: default;

  &__close {
    position: absolute;
    right: 4rem;
    top: 4rem;
    z-index: 5;
    display: flex;
    width: 5.4rem;
    height: 5.4rem;
    border: 1px solid rgba(189, 191, 197, 0.4);
    border-radius: 100%;
    background-color: transparent;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 40%;
      height: 1px;
      border-radius: 10rem;
      background-color: #242424;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: background-color .2s ease;
    }

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 40%;
      height: 1px;
      border-radius: 10rem;
      background-color: #242424;
      transform: translate(-50%, -50%) rotate(-45deg);
      transition: background-color .2s ease;
    }
  }

  &__stage {
    .fancybox-content {
      overflow: hidden;
    }
  }
}

.model-w {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.fancybox-bg {
  background: rgba(191, 198, 205, 0.29);
  backdrop-filter: blur(1.2rem);
}

.fancybox-is-open .fancybox-bg {
  opacity: 1;
}

@media (max-width: 48em) {
  .modal {
    box-shadow: 1rem 0.8rem 3.2rem rgba(0, 0, 0, 0.1);
  
    &__close {
      right: 3rem;
      top: 3rem;
      width: 6.4rem;
      height: 6.4rem;
    }

    &__stage {
    }
  }


}


.modal-login {
  &__login-box {
    min-width: 100%;
  }
}

.modal-cancel-order{
  height: fit-content;
  width: fit-content;
  padding: 8.4rem 17.1rem 8rem;

  .modal__title{
    font-size: 5rem;
    line-height: 6rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4rem;
    font-family: "EuropeExt";
    text-transform: uppercase;
    width: 88.6rem;
  }

  .modal__buttons{
    font-family: "EuropeExt";
    text-transform: uppercase;
    font-size: 2.2rem;
    line-height: 2.455rem;
    display: flex;
    justify-content: center;
    gap: 8rem;

    .cancel-btn{
      color: #969696;
    }
  }
}

.modal-cancel-reason{
  height: fit-content;
  width: fit-content;
  padding: 8.4rem 17.1rem 8rem;

  .modal__title{
    font-size: 5rem;
    line-height: 6rem;
    font-weight: 700;
    text-align: center;
    font-family: "EuropeExt";
    text-transform: uppercase;
    width: 88.6rem;
    margin: 0 auto 4rem;
  }

  .modal__text{
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.183rem;
    max-width: 62.9rem;
    margin: 0 auto 4rem;
  }

  .modal__list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 65.4rem;
    margin: 0 auto 5.2rem;
  }

  .btn-modal-send{
    display: block;
    margin: 0 auto;
  }

  .other-input{
    display: none;
    border-bottom: 0.15rem solid #242424;
    padding-bottom: 0.9rem;
    width: 61.8rem;

    input{
      outline: none;
      border: none;
      background-color: inherit;
      width: 100%;
    }
  }
}