.model {
    display: flex;
    flex-direction: column;
    width: 23.7rem;
    height: 29.9rem;
    position: relative;
    &:hover {
        .model__image {
           img {
            transform: scale(1.2);
            transition: 1s;
           }
        }
    }
    &__image {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        overflow: hidden;
        img {
            width: 100%;
  
            transition: 1s;
        }
    }

    &__like {
        position: absolute;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.30);
        width: 5rem;
        height: 5rem;
        backdrop-filter: blur(1px);
        display: flex;
        justify-content: center;
        align-items:center;
        right: 1rem;
        top: 1rem;
        z-index: 2;
        svg {
            width: 2.4rem;
            height: 2.4rem;
            fill: #FFFFFF;
        }
    }

    &__like-heat {
        display: none;
    }

    &__like.active {
        .model__like-heat {
            display: block;
        }
    }

    &__name {
        font-family: 'EuropeExt',sans-serif;
        margin-top: auto;
        font-style: normal;
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 2rem;
        padding-left: 1.5rem;
        display: block;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 0.4rem;
    }

    &__catalog {
        font-style: normal;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.2rem;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        padding-left: 1.5rem;
        margin-bottom: 1.2rem;
        display: block;
    }

    &__status {
        width: 100%;
        height: 3.1rem;
        background: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.2rem;
        letter-spacing: 0.02em;
        color: #242424;
        margin-bottom: 1.2rem;

    }

    &__date {
        font-family: 'EuropeExt',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 1.7rem;
        padding-left: 1.5rem;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-bottom: 1.2rem;

    }


}