.models {
    margin-bottom: 15.5rem;
    overflow: hidden;
    position: relative;

    .container {
        width: 162rem;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4.2rem;
    }

    &__swiper {
        // width: 166rem;
        // height: 68rem;
        overflow: visible;

        @media (max-width: 48em){
            overflow: hidden;
            height: 48.8rem;
        }

        .swiper-wrapper{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 4rem;

            @media (max-width: 48em){
                gap: 2rem;
            }
        }
    }

    &__slide {
        // width: 23.7rem !important;
        // height: 29.9rem !important;

        // @media (max-width: 48em) {
        //     height: auto !important;
        //     width: auto !important;
        // }
        
        width: fit-content !important;
        height: fit-content !important;
    }

    &__bullets {
        display: none;
    }

    .mob {
        display: none;
    }

    .link {
        left: -1rem;
        top: 2rem;
    }

    // .swiper-wrapper{
    //     display: grid;
    //     grid-template-columns: repeat(6, 1fr);
    //     gap: 4rem;
    //     height: fit-content;

    //     @media (max-width: 48em) {
    //         display: flex;
    //         height: 100%;
          
    //     }
    // }
}