.models {
    margin-bottom: 15.5rem;
    overflow: hidden;
    .container {
        width: 162rem;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4.2rem;
    }

    &__swiper {
        width: 166rem;
        height: 68rem;
    }

    &__slide {
        margin-bottom: 4rem;
       
       
        
    }

    &__bullets {
        display: none;
    }

    .mob {
        display: none;
    }

    .link {
        left: -1rem;
        top: 2rem;
    }

    

    
}