.options-m {
    margin-bottom: 18rem;
    &__wrapper {
        display: flex;
    }

    .container {
        width: 162rem;
    }

    &__left {
        width: 76.9rem;
        margin-right: 9.9rem;
    }

    

    &__title {
        margin-bottom: 4.5rem;

    strong {
        display: block;
        font-family: 'EuropeExt';
        font-style: normal;
        font-weight: 700;
        font-size: 5rem;
        line-height: 4.6rem;
        color: #242424;
        text-transform: uppercase;
        }
	
        span {
            font-style: normal;
            font-weight: 500;
            font-size: 1.7rem;
            line-height: 171%;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #969696;
            display: block;
            margin-bottom: 1.6rem;
        }
    }

    &__lists {
        li {
            display: block;
            position: relative;
            font-style: normal;
            font-weight: 500;
            font-size: 2.2rem;
            line-height: 127% ;
            letter-spacing: 0.02em;
            text-transform: lowercase;
            margin-bottom: 2rem;
            padding-left: 2.8rem;
            &::before {
                position: absolute;
                content:'';
                width: 0.8rem;
                height: 0.8rem;
                border-radius: 50%;
                background: #242424;
                top: 34%;
                transform: translateY(50% ,-50%);
                left: 0;
            }
        }
    }

    &__video {
        width: 75.443rem;
        height: 50rem;
        position: relative;
    }

    video::-webkit-media-controls {
        display: none;
      }
      
      /* Could Use thise as well for Individual Controls */
      video::-webkit-media-controls-play-button {}
      
      video::-webkit-media-controls-volume-slider {}
      
      video::-webkit-media-controls-mute-button {}
      
      video::-webkit-media-controls-timeline {}
      
      video::-webkit-media-controls-current-time-display {}

    .plyr--full-ui.plyr--video .plyr__control--overlaid {
        background: rgba(250, 250, 250, 0.67);
        border: 0.398936px solid #FFFFFF;
        backdrop-filter: blur(3.98936px);
        width: 8.3rem;
        height: 8.3rem;
        z-index: 4;
      }
    
      .plyr__controls {
         display: none;
      }
    
      .plyr__control svg {
        fill: #1D1D1D;
        width: 1.5rem;
        height: 1.5rem;
        left: 50%;
        transform: translate(-50%,0%);
      }
    
      .plyr--video {
        width: 75.443rem;
        height: 50rem;
        display: block;
        overflow: hidden;
         
      }
    
      .plyr__poster {
        background-size: cover;
        z-index: 4;
      }

      .plyr__video-wrapper {
        width: 99.9%;
      }
    
    

    &__video-play {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8.378rem;
        height: 8.376rem;
        background: rgba(250, 250, 250, 0.67);
        border: 0.398936px solid #FFFFFF;
        border-radius: 50%;
        backdrop-filter: blur(3.98936px);
        position: absolute;
        top: 50%;
        left: 50%;
       
        transform: translate(-50%, -50%);
        cursor: pointer;
       
        img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}