.personal {
    margin-bottom: 18rem;
    margin-top: 12rem;
    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__navigation {
        width: 33.5rem;
        height: fit-content;
    }

    &__tabs {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 11rem;
        padding-right: 3.2rem;

        &:after {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            width: 1px;
            height: calc(100% + 7.5rem);
            transform: translateY(-50%);
            background-color: rgba(189, 191, 197, 0.4);
        }
    }

    &__tab-models-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4rem;
        margin-top: 8rem;
        margin-bottom: 4.5rem;
    }

    &__tab {
        position: relative;
        padding-left: 7.2rem;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.8rem;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #969696;
        transition: color 0.4s ease;
        cursor: pointer;

        &:before {
            content: "";
            position: absolute;
            right: calc(100% - 4rem);
            top: 50%;
            width: 12.6rem;
            height: 1px;
            transform: translateY(-2px) scaleX(0.31);
            transform-origin: right;
            background-color: #969696;
            transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), background-color 0.4s ease;
        }

        &:hover {
            color: #242424;
        }

        &.active {
            color: black;

            &:before {
                transform: translateY(-2px);
                background-color: #242424;
            }
        }

        @media (min-width: 48.01em) {
            > svg {
                display: none;
            }
        }
    }

    &__nav-links {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__nav-link {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 0.5rem;
        width: 29rem;
        min-height: 18rem;
        padding: 2.5rem 2rem;
        background: linear-gradient(0deg, rgba(36, 36, 36, 0.5), rgba(36, 36, 36, 0.5));
        color: white;
        overflow: hidden;

        &:hover {
            .personal__nav-link-bg {
                transform: scale(1.1);
            }
        }
    }

    &__nav-link-bg {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.7s ease;
    }

    &__nav-link-sub-title {
        font-weight: 500;
        font-size: 1.7rem;
        line-height: 2rem;
        letter-spacing: 0.02em;
        text-transform: uppercase;
    }

    &__nav-link-title {
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 2.8rem;
        letter-spacing: 0.02em;
    }

    &__content {
        width: 120.5rem;
        margin-right: 0;
    }

    &__tab-content {
        display: none;

        > input {
            display: none;
        }

        &.active {
            display: block;
        }

        &.likes-order {
            .personal__tab-header {
                width: fit-content;

                @media (max-width: 48em) {
                    width: unset;
                }
            }
        }
    }

    &__tab-header {
        margin-bottom: 8rem;
        width: 100%;
    }

    &__tab-wrapper-cheks {
        margin-top: 6rem;

        .record__checkbox {
            margin-bottom: 2rem;
            margin-left: 2rem;

            label {
                display: flex;
                gap: 2rem;

                &::before {
                    margin-right: 0;
                }

                span {
                    line-height: 2.8rem;

                    @media (max-width: 48em) {
                        line-height: 4.2rem;
                    }
                }

                @media (max-width: 48em) {
                    gap: 4rem;
                }
            }

            &:first-of-type {
                margin-left: 0;
                margin-bottom: 4rem;

                @media (max-width: 48em) {
                    margin-bottom: 4.8rem;
                }

                label {
                    font-weight: 600;
                    font-size: 1.8rem;

                    @media (max-width: 48em) {
                        font-size: 2.6rem;
                    }
                }
            }
        }
    }

    &__title-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4rem;
    }

    &__title {
        font-size: 5rem;
        line-height: 7.5rem;

        > span {
            font-size: 5rem;
            line-height: 7.5rem;
        }

        @media (min-width: 48.01em) {
            &.mobile {
                display: none;
            }
        }
    }

    &__back-link {
        @media (min-width: 48.01em) {
            display: none;
        }
    }

    .request {
        .personal__tab-header {
            @media (max-width: 48em) {
                margin-bottom: 6.4rem;
            }
        }

        .request__new-request-link {
            margin-bottom: 6.75rem;

            @media (max-width: 48em) {
                margin-bottom: 9rem;
            }
        }

        &_list {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            @media (max-width: 48em) {
                gap: 4rem;
            }
        }

        &_item {
            display: flex;
            align-items: center;
            gap: 9.2rem;
            border-top: 1px solid #bdbfc5;
            padding: 2rem 0 0;

            @media (max-width: 48em) {
                flex-direction: column;
                align-items: flex-start;
                gap: 3rem;
                padding: 3rem;
                border: 0.1rem solid #bdbfc5;
            }

            &:last-of-type {
                border-bottom: 1px solid #bdbfc5;
                padding-bottom: 2rem;

                @media (max-width: 48em) {
                    border: 0.1rem solid #bdbfc5;
                    padding-bottom: 3rem;
                }
            }

            &__table {
                display: flex;
                gap: 4.5rem;
                width: 83rem;

                @media (max-width: 48em) {
                    flex-direction: column;
                    gap: 2rem;
                    width: 100%;
                    padding-bottom: 3rem;
                    border-bottom: 0.2rem solid #bdbfc566;
                }

                &_item {
                    display: flex;
                    flex-direction: column;
                    gap: 0.9rem;
                    max-width: 27.9rem;

                    .colon {
                        display: none;

                        @media (max-width: 48em) {
                            display: inline;
                        }
                    }

                    @media (max-width: 48em) {
                        display: block;
                        max-width: 100%;
                    }

                    &:last-child {
                        margin-left: auto;

                        @media (max-width: 48em) {
                            margin-left: unset;
                        }
                    }

                    p {
                        font-size: 2.2rem;
                        font-weight: 600;
                        line-height: 2.695rem;

                        @media (max-width: 48em) {
                            font-size: 3rem;
                            line-height: 3.64rem;
                            display: inline;
                        }

                        &:first-of-type {
                            font-weight: 500;
                            font-size: 1.8rem;
                            line-height: 2.1rem;
                            color: #969696;
                            white-space: nowrap;

                            @media (max-width: 48em) {
                                font-size: 3rem;
                                line-height: 3.64rem;
                                font-weight: 500;
                                margin-right: 1rem;
                            }
                        }
                    }
                }
            }

            &__chat-link {
                @media (max-width: 48em) {
                    margin: 0 auto;
                }
            }
        }
    }

    .request-create {
        display: none;

        .personal__title span {
            @media (max-width: 48em) {
                font-size: 4.8rem;
                line-height: 4.42rem;
                white-space: nowrap;
            }
        }

        .personal__tab-header {
            @media (max-width: 48em) {
                margin-bottom: 8rem;
            }
        }

        &_progress {
            margin-top: 6rem;
            margin-bottom: 8rem;
            height: 0.1rem;
            background-color: #969696;
            position: relative;

            @media (max-width: 48em) {
                margin-top: 5.4rem;
                height: 0.2rem;
            }

            .progress-line {
                height: 0.3rem;
                background-color: #242424;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 29.5rem;
                transition: width 0.3s;

                @media (max-width: 48em) {
                    height: 0.6rem;
                    width: 20.6rem;
                    top: 50%;
                    bottom: unset;
                    transform: translateY(-50%);
                }
            }

            .progress-numbers {
                display: flex;
                gap: 28.4rem;
                justify-content: center;

                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                transform: translateY(-50%);

                @media (max-width: 48em) {
                    gap: 15.6rem;
                }

                span {
                    border-radius: 100%;
                    border: 0.1rem solid #969696;
                    color: #969696;
                    font-size: 1.6rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 2.4rem;
                    height: 2.4rem;
                    background-color: #fff;

                    @media (max-width: 48em) {
                        width: 3.2rem;
                        height: 3.2rem;
                        font-size: 2rem;
                    }

                    &.complete {
                        background-image: url(./../../img/icon/galka.svg);
                        filter: invert(1);
                        background-size: 1.6rem 1.6rem;
                        background-repeat: no-repeat;
                        background-position: center;
                        border: none;

                        @media (max-width: 48em) {
                            background-size: 2rem 2rem;
                        }
                    }
                }
            }
        }

        &_dropdown {
            &__desc {
                font-weight: 500;
                font-size: 1.8rem;
                margin-bottom: 2rem;
                display: block;

                @media (max-width: 48em) {
                    font-size: 2.6rem;
                    margin-bottom: 1.6rem;
                }
            }

            &__title {
                cursor: pointer;
                display: flex;
                gap: 2rem;
                align-items: center;

                @media (max-width: 48em) {
                    gap: 1.6rem;
                }

                span {
                    font-size: 1.8rem;
                    font-weight: 500;

                    @media (max-width: 48em) {
                        font-size: 2.6rem;
                        line-height: 5.6rem;
                    }
                }

                svg {
                    width: 1.3rem;
                    height: 0.9rem;
                    transform: rotate(180deg);
                    transition: transform 0.3s;

                    @media (max-width: 48em) {
                        width: 1.8rem;
                        height: 1rem;
                    }
                }
            }

            &__list {
                width: fit-content;

                @media (max-width: 48em) {
                    width: 100%;
                }

                li {
                    cursor: pointer;
                    padding: 1rem 0;
                    border-bottom: 0.1rem solid #969696;
                    font-size: 1.6rem;
                    color: #969696;
                    transition: color 0.2s;
                    font-weight: 500;

                    @media (max-width: 48em) {
                        font-size: 2.6rem;
                        line-height: 4rem;
                        border-bottom: 0.2rem solid #969696;
                        padding: 0.8rem 0;
                    }

                    &:hover,
                    &.active {
                        color: #242424;
                    }
                }
            }

            &.open {
                .request-create_dropdown__title svg {
                    transform: rotate(0);
                }
            }
        }

        &_add-pic {
            &__desc {
                font-size: 1.8rem;
                line-height: 2.1rem;
                margin-bottom: 1.2rem;
                font-weight: 500;

                @media (max-width: 48em) {
                    font-size: 2.6rem;
                    line-height: 4rem;
                    margin-bottom: 1.6rem;
                }
            }

            input {
                display: none;
            }

            span {
                display: block;
                cursor: pointer;
                font-size: 1.8rem;
                font-weight: 500;
                color: #969696;
                text-decoration: underline;

                @media (max-width: 48em) {
                    font-size: 3rem;
                }
            }
        }

        &_order-num {
            margin-bottom: 4rem;

            &__desc {
                font-size: 1.8rem;
                line-height: 2.1rem;
                margin-bottom: 1.2rem;
                font-weight: 500;

                @media (max-width: 48em) {
                    font-size: 2.6rem;
                    line-height: 4rem;
                    margin-bottom: 1.54rem;
                }
            }

            &__input {
                padding-bottom: 0.9rem;
                border-bottom: 0.1rem solid #242424;
                width: 51.3rem;

                @media (max-width: 48em) {
                    padding-bottom: 0.66rem;
                    border-bottom: 0.2rem solid #242424;
                    width: 100%;
                }

                input {
                    border: none;
                    outline: none;
                    font-size: 2.2rem;
                    line-height: 2.8rem;
                    font-weight: 500;

                    &::placeholder {
                        color: #969696;
                    }

                    @media (max-width: 48em) {
                        font-size: 3rem;
                        line-height: 5.6rem;
                    }
                }
            }
        }

        &__step-1 {
            .request__create-request-link {
                margin-top: 7rem;

                @media (max-width: 48em) {
                    margin-top: 8rem;
                }
            }
        }

        &__step-2 {
            display: none;

            .request__request-next-link {
                margin-top: 7rem;

                @media (max-width: 48em) {
                    margin-top: 8rem;
                }
            }

            .request-create_dropdown {
                margin-bottom: 4rem;
            }
        }
    }

    .request-back-link {
        display: flex;
        align-items: center;
        gap: 1rem;

        &::before {
            content: none;
        }

        svg {
            width: 3.4rem;
            height: 1.2rem;
            transition: transform 0.5s ease, -webkit-transform 0.5s ease;

            @media (max-width: 48em) {
                width: 6.8rem;
                height: 2.4rem;
            }
        }

        &:hover {
            svg {
                transform: translateX(-0.6rem);
            }
        }

        @media (max-width: 48em) {
            font-size: 2.6rem;
            gap: 3rem;
            font-family: inherit;
        }
    }

    .chat {
        display: none;

        .personal__tab-header {
            margin-top: 6rem;
            margin-bottom: 3.2rem;

            @media (max-width: 48em) {
                margin-top: 5rem;
                margin-bottom: 4rem;

                .personal__title span {
                    font-size: 4.8rem;
                    line-height: 4.42rem;
                }
            }

            .request-num {
                display: block;
                margin-top: 1.5rem;
                font-size: 1.8rem;
                font-weight: 500;
                color: #969696;

                @media (max-width: 48em) {
                    margin-top: 3rem;
                    font-size: 3rem;
                    line-height: 3.64rem;
                }
            }
        }

        &__container {
            background-color: #eeeeee;
            border-radius: 1rem;
            padding: 4rem 3rem 2rem;
            height: 73.8rem;
            display: flex;
            flex-direction: column;

            @media (max-width: 48em) {
                padding: 3rem;
                height: 118.6rem;
            }
        }

        &__msgs {
            overflow: auto;
            margin-top: auto;
            display: flex;
            gap: 2rem;
            flex-direction: column;
            align-items: center;
            margin-right: -1.5rem;
            padding-right: 1.5rem;

            @media (max-width: 48em) {
                gap: 4rem;
                padding-bottom: 6rem;
                margin-right: 0;
                padding-right: 0;
            }

            &::-webkit-scrollbar {
                width: 0.4rem;
                background: #fff;

                @media (max-width: 48em) {
                    display: none;
                }
            }

            &::-webkit-scrollbar-track {
                -webkit-box-shadow: #fff;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 1.2rem;
                background: #969696;
            }
        }

        .msg {
            font-size: 1.8rem;
            line-height: 2.183rem;
            font-weight: 500;
            max-width: 48.3rem;
            position: relative;

            @media (max-width: 48em) {
                font-size: 2.6rem;
                line-height: 3.154rem;
                max-width: 61.8rem;
            }

            &__avatar {
                position: absolute;
                bottom: 3.2rem;
                left: 0;
                border-radius: 100%;
                width: 5rem;
                height: 5rem;
                background-color: #969696;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;

                @media (max-width: 48em) {
                    width: 6.4rem;
                    height: 6.4rem;
                    bottom: 5.4rem;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                svg {
                    width: 4.4rem;
                    height: 4.4rem;
                    transform: translateY(0.6rem);

                    @media (max-width: 48em) {
                        width: 5.632rem;
                        height: 5.632rem;
                        transform: translateY(0.8rem);
                    }
                }
            }

            &__container {
                padding: 2rem;
                margin-bottom: 1rem;

                @media (max-width: 48em) {
                    padding: 3rem;
                    margin-bottom: 2rem;
                }
            }

            &__username {
                margin-bottom: 0.5rem;
                width: fit-content;

                @media (max-width: 48em) {
                    margin-bottom: 1rem;
                }
            }

            &__pic {
                width: 44.3rem;
                height: 19.6rem;
                border-radius: 1rem;
                overflow: hidden;
                background-color: #d9d9d9;
                margin-bottom: 2rem;

                @media (max-width: 48em) {
                    width: 100%;
                    height: 22.8rem;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &__time {
                color: #969696;
                width: fit-content;
            }

            &--incoming {
                align-self: flex-start;
                padding-left: 7rem;

                @media (max-width: 48em) {
                    padding-left: 8.4rem;
                }

                .msg__container {
                    border: 0.15rem solid #242424;
                    border-radius: 1rem 1rem 1rem 0;

                    a {
                        margin-bottom: 0.2rem;
                    }

                    @media (max-width: 48em) {
                        border: 0.3rem solid #242424;
                        border-radius: 2rem 2rem 2rem 0;
                    }
                }
            }

            &--outgoing {
                align-self: flex-end;
                .msg__container {
                    background-color: #242424;
                    color: #fff;
                    border-radius: 1rem 1rem 0 1rem;

                    @media (max-width: 48em) {
                        border-radius: 2rem 2rem 0 2rem;
                    }
                }

                .msg__time {
                    margin-left: auto;
                }
            }
        }

        &__bottom {
            display: flex;
            gap: 4rem;
            align-items: center;
            padding: 1.2rem 2rem 1.6rem;
            border-radius: 1rem;
            border: 0.1rem solid #242424;
            background-color: #fff;

            @media (max-width: 48em) {
                padding: 3rem;
                border-radius: 2rem;
            }
        }

        &__input {
            flex: 1;

            input {
                outline: none;
                border: none;
                width: 100%;
                font-size: 1.8rem;
                line-height: 2.138rem;

                @media (max-width: 48em) {
                    font-size: 2.6rem;
                    line-height: 3.154rem;
                }

                &::placeholder {
                    color: #969696;
                }
            }
        }

        &__btns {
            display: flex;
            gap: 3rem;
            align-items: center;

            @media (max-width: 48em) {
                gap: 4rem;
            }
        }

        &__add-file {
            position: relative;
            cursor: pointer;

            &::after {
                position: absolute;
                content: "";
                right: -1.5rem;
                top: -0.2rem;
                bottom: -0.2rem;
                width: 0.1rem;
                height: 2.6rem;
                background-color: #969696;

                @media (max-width: 48em) {
                    right: -2rem;
                    top: -0.4rem;
                    bottom: -0.4rem;
                    width: 0.2rem;
                    height: 4rem;
                }
            }

            input {
                display: none;
            }

            svg {
                width: 2.2rem;
                height: 2.2rem;

                @media (max-width: 48em) {
                    width: 3.2rem;
                    height: 3.2rem;
                }
            }
        }

        &__send {
            svg {
                width: 2.2rem;
                height: 2.2rem;

                @media (max-width: 48em) {
                    width: 3.2rem;
                    height: 3.2rem;
                }
            }
        }
    }

    @media (max-width: 48em) {
        .personal {
            margin-bottom: 20rem;
            &__tab-models-wrapper {
                grid-template-columns: repeat(2, 1fr);
                margin-top: 6rem;
                // .model {
                //   margin-right: 4rem;
                //   margin-bottom: 4rem;
                // }
                .model:nth-child(4n) {
                    margin-right: 0;
                }
                .model:nth-child(2n) {
                    margin-right: 0;
                }

                // .model__status{
                //   width: 38rem;
                // }
            }
            &__container {
                gap: 6rem;
                overflow: hidden;

                > * {
                    flex: none;
                    transition: transform 0.3s ease;
                }

                &.active {
                    > * {
                        transform: translateX(-84rem);
                    }
                }
            }

            &__navigation {
                width: 100%;
            }

            &__tabs {
                gap: 0;
                margin: 8rem 0;
                padding-right: 0;
                border-top: 1px solid #24242433;

                &:after {
                    content: none;
                }
            }

            &__tab {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 4rem;
                padding: 6rem 0;
                border-bottom: 1px solid #24242433;
                font-family: "EuropeExt";
                font-weight: 700;
                font-size: 3rem;
                line-height: 3.4rem;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: #242424;

                &:before {
                    content: none;
                }

                &.active {
                    color: #242424;
                }

                > svg {
                    width: 7rem;
                    height: 2.4rem;

                    path {
                        fill: #242424;
                    }
                }
            }

            &__nav-links {
                gap: 3rem;
            }

            &__nav-link {
                align-items: center;
                gap: 1rem;
                width: 100%;
                min-height: 29rem;
                padding: 5rem 18rem;
                text-align: center;
            }

            &__nav-link-bg {
            }

            &__nav-link-sub-title {
                font-size: 2.6rem;
                line-height: 3rem;
            }

            &__nav-link-title {
                font-size: 3rem;
                line-height: 3.6rem;
            }

            &__content {
                width: 100%;
            }

            &__tab-content {
            }

            &__tab-header {
                margin-bottom: 12rem;
                width: 100%;
            }

            &__title-box {
                width: 72rem;
            }

            .personal__title {
                font-size: 4.4rem;
                line-height: 5rem;

                > span {
                    font-size: 4.4rem;
                    line-height: 5rem;
                }
            }

            &__back-link {
                display: flex;
                align-items: center;
                gap: 3rem;
                margin-bottom: 5rem;
                font-weight: 700;
                font-size: 2.6rem;
                letter-spacing: 0.02em;
                text-transform: uppercase;

                > svg {
                    width: 7rem;
                    height: 2.4rem;

                    path {
                        fill: #242424;
                    }
                }
            }
        }
    }
}
