.tt-modal {
    background: rgba(191, 198, 205, 0.29);
    backdrop-filter: blur(12px);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 162.2rem;
        height: 62.7rem;
        
    }

    &__content {
        background: #ECEDF0;
        box-shadow: 5px 4px 17px rgba(0, 0, 0, 0.1);
        width: 100%;
        margin-top: auto;
        height: 52rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

 

    &__title {
        font-weight: 600;
        font-size: 3.5rem;
        line-height: 135%;
        text-transform: uppercase;
        max-width: 100%;
        margin-bottom: 6rem;
        text-align: center;
    }


    
  
    &__close {
     position: absolute;
      right: 4rem;
      top: 0rem;
      z-index: 10;
      display: flex;
      width: 5.4rem;
      background: #ECEDF0;
      height: 5.4rem;
      border: 1px solid rgba(189, 191, 197, 0.4);
      border-radius: 100%;
      background-color: transparent;
        cursor: pointer;
      &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 40%;
        height: 1px;
        border-radius: 10rem;
        background-color: #242424;
        transform: translate(-50%, -50%) rotate(45deg);
        transition: background-color .2s ease;
      }
  
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 40%;
        height: 1px;
        border-radius: 10rem;
        background-color: #242424;
        transform: translate(-50%, -50%) rotate(-45deg);
        transition: background-color .2s ease;
      }
    }
}


.tt-modal.active {
    display: flex;
}