.types-model {
    
    margin-bottom: 18.8rem;
    .container {
        width: 100%;
        padding-left: 6.3rem;
        padding-right: 15rem;
    }

    &__wrapper {
        display: flex;
        align-self: stretch;
    }

    &__nav-text {
        font-style: normal;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 156%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #969696;
        padding-left: 15.8rem;
        position: relative;
        &::before {
            position: absolute;
            content:'';
            width: 12.6rem;
            height: 0.1rem;
            display: block;
            background: #242424;
            left: 0;
            top: 50%;
            opacity: 0;
            
        }

        &::after {
            position: absolute;
            content:'';
            width: 4rem;
            height: 0.1rem;
            display: block;
            background: #969696;
            left: 8.8rem;
            top: 50%;
        }
    }

    .swiper-slide-thumb-active {
        .types-model__nav-text {
            
            color: #000000;
            
            &::before {
                position: absolute;
                content:'';
                width: 12.6rem;
                height: 0.1rem;
                display: block;
                background: #242424;
                left: 0;
                top: 50%;
                opacity: 1;
                
            }
    
            &::after {
                position: absolute;
                content:'';
                width: 4rem;
                height: 0.1rem;
                display: block;
                background: #969696;
                left: 8.8rem;
                top: 50%;
                opacity: 0;
            }
        }
    }

    &__swiper {
        width: 120.8rem;
    }

    &__slide-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 6.2rem;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            width: 0.1rem;
            background: rgba(189, 191, 197, 0.4);
            height: 30%;
            
            top: 40%;
            transform: translateY(50% ,-40%);
            left: 0;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(189, 191, 197, 0.4);
        padding-bottom: 1rem;
        margin-bottom: 1.97rem;

    }

   

    &__bullets {
        display: none;
    }

 
    &__slide-title {
        font-family: 'Kyiv*Type Serif';
        font-style: normal;
        font-weight: 200;
        font-size: 8rem;
        line-height: 10rem;
        text-transform: uppercase;
        margin-bottom: 4.2rem;
        line-height: 10rem;
     
        span {
            font-family: 'EuropeExt',sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 8rem;
            line-height: 8.9rem;
            text-transform: uppercase;
           
        }

    }

 

    &__nav {
        width: 44.4rem;
        height:auto;
        margin-right: 6.5rem;
        margin-top: 12.5rem;
    }

    &__nav-slide {
        height: fit-content!important;
        cursor: pointer;
        max-height: fit-content!important;
        padding-bottom: 2rem;
    }

    &__price {
        font-style: normal;
        font-weight: 500;
        font-size: 2.2rem;
        line-height: 150% ;
        color: #242424;

        span {
            font-weight: 400;
            color: #969696;
        }
    }

    &__number {
        font-style: normal;
        font-weight: 500;
        font-size: 2.2rem;
        line-height: 127%;
        letter-spacing: 0.02em;
        text-transform: lowercase;
    }
}