<section class="banner">
    <div class="container">
        <div class="banner__wrapper">
            <div class="banner__swiper swiper">
                <div class="banner__swiper-wrapper swiper-wrapper">
                    <div class="banner__slide swiper-slide">
                        <div class="banner__content">
                            <div class="banner__line">
                                <img class="banner__line-desk"  src="./img/ban/line.png" alt="">
                                <img class="banner__line-mob"  src="./img/ban/linemob.svg" alt="">
                            </div>
                            <div class="banner__image">
                                <img class="banner__line-desk"  src="./img/woman.png" alt="">
                                <img class="banner__line-mob"  src="./img/womanmob.png" alt="">
                            </div>
                            <div class="banner__block">
                                <div class="banner__title">
                                    10+ лет <span>успешно</span>
                                    работаем в сфере <span>моды </span>
                                </div>
                                <div class="banner__title-mob">
                                    10+ лет<br>
                                    успешно <span>работаем</span><br>
                                    <span>в сфере моды </span>
                                </div>
                                <div class="banner__text">
                                    Профессиональный подход к созданию контента 
                                    и глубокое понимание задач каждого клиента.
                                </div>
                                <a href="#" class="link">подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="banner__slide swiper-slide">
                        <div class="banner__content ">
                            <div class="banner__image">
                                <img class="banner__line-desk"  src="./img/woman.png" alt="">
                                <img class="banner__line-mob"  src="./img/womanmob.png" alt="">
                            </div>
                            <div class="banner__block">
                                <div class="banner__title">
                                    10+ лет <span>успешно</span>
                                    работаем в сфере <span>моды </span>
                                </div>
                                <div class="banner__text">
                                    Профессиональный подход к созданию контента 
                                    и глубокое понимание задач каждого клиента.
                                </div>
                                <a href="#" class="link">подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination banner__pagination">
                <div class="pagination__fraction banner__fraction">

                </div>
                <div class="pagination__arrows banner__pagination-arrows">
                    <div class="pagination__prev banner__prev">
                        <svg width="35" height="12" viewBox="0 0 35 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.219669 5.79119C-0.0732231 6.08409 -0.0732231 6.55896 0.219669 6.85185L4.99264 11.6248C5.28553 11.9177 5.76041 11.9177 6.0533 11.6248C6.34619 11.3319 6.34619 10.8571 6.0533 10.5642L1.81066 6.32152L6.0533 2.07888C6.3462 1.78599 6.3462 1.31112 6.0533 1.01822C5.76041 0.725331 5.28554 0.725331 4.99264 1.01822L0.219669 5.79119ZM34.75 5.57153L0.75 5.57152L0.75 7.07152L34.75 7.07153L34.75 5.57153Z" />
                            </svg>
                            
                    </div>
                    <div class="pagination__next banner__next">
                        <svg  viewBox="0 0 36 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M35.2803 5.79119C35.5732 6.08409 35.5732 6.55896 35.2803 6.85185L30.5074 11.6248C30.2145 11.9177 29.7396 11.9177 29.4467 11.6248C29.1538 11.3319 29.1538 10.8571 29.4467 10.5642L33.6893 6.32152L29.4467 2.07888C29.1538 1.78599 29.1538 1.31112 29.4467 1.01822C29.7396 0.725331 30.2145 0.725331 30.5074 1.01822L35.2803 5.79119ZM0.75 5.57153L34.75 5.57152L34.75 7.07152L0.75 7.07153L0.75 5.57153Z" />
                        </svg>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>