<section class="blog-main">
    <div class="container">
        <div class="title">
            <span>блог</span>
        </div>
        <div class="blog-main__wrapper desk">
            <a href="#" class="publication">
                <div class="publication__image">
                    <img src="./img/publication/pub1.png" alt="">
                </div>
                <div class="publication__content">
                    <div class="publication__title">Готовы поработать с нами?</div>
                
                    <div class="publication__text">Запись на съемку - это просто. Все что нужно знать пред съемкой</div>
                    <div class="publication__date">
                        19. 04 .22
                    </div>
                </div>
            </a>
            <a href="#" class="publication">
                <div class="publication__image">
                    <img src="./img/publication/pub1.png" alt="">
                </div>
                <div class="publication__content">
                    <div class="publication__title">Готовы поработать с нами?</div>
                
                    <div class="publication__text">Запись на съемку - это просто. Все что нужно знать пред съемкой</div>
                    <div class="publication__date">
                        19. 04 .22
                    </div>
                </div>
            </a>
            <a href="#" class="publication">
                <div class="publication__image">
                    <img src="./img/publication/pub1.png" alt="">
                </div>
                <div class="publication__content">
                    <div class="publication__title">Готовы поработать с нами?</div>
                
                    <div class="publication__text">Запись на съемку - это просто. Все что нужно знать пред съемкой</div>
                    <div class="publication__date">
                        19. 04 .22
                    </div>
                </div>
            </a>
            <a href="#" class="publication">
                <div class="publication__image">
                    <img src="./img/publication/pub1.png" alt="">
                </div>
                <div class="publication__content">
                    <div class="publication__title">Готовы поработать с нами?</div>
                
                    <div class="publication__text">Запись на съемку - это просто. Все что нужно знать пред съемкой</div>
                    <div class="publication__date">
                        19. 04 .22
                    </div>
                </div>
            </a>
            <a href="#" class="publication">
                <div class="publication__image">
                    <img src="./img/publication/pub1.png" alt="">
                </div>
                <div class="publication__content">
                    <div class="publication__title">Готовы поработать с нами?</div>
                
                    <div class="publication__text">Запись на съемку - это просто. Все что нужно знать пред съемкой</div>
                    <div class="publication__date">
                        19. 04 .22
                    </div>
                </div>
            </a>
            <a href="#" class="publication">
                <div class="publication__image">
                    <img src="./img/publication/pub1.png" alt="">
                </div>
                <div class="publication__content">
                    <div class="publication__title">Готовы поработать с нами?</div>
                
                    <div class="publication__text">Запись на съемку - это просто. Все что нужно знать пред съемкой</div>
                    <div class="publication__date">
                        19. 04 .22
                    </div>
                </div>
            </a>
        </div>
        <div class="blog-main__title">
            <span>новости, статьи</span><br>
            <p>интересно и полезно</p>
        </div>
        <div class="blog-main__wrapper mob">
            <a href="#" class="publication">
                <div class="publication__image">
                    <img src="./img/publication/pub1.png" alt="">
                </div>
                <div class="publication__content">
                    <div class="publication__title">Готовы поработать с нами?</div>
                
                    <div class="publication__text">Запись на съемку - это просто. Все что нужно знать пред съемкой</div>
                    <div class="publication__date">
                        19. 04 .22
                    </div>
                </div>
            </a>
            <a href="#" class="publication">
                <div class="publication__image">
                    <img src="./img/publication/pub1.png" alt="">
                </div>
                <div class="publication__content">
                    <div class="publication__title">Готовы поработать с нами?</div>
                
                    <div class="publication__text">Запись на съемку - это просто. Все что нужно знать пред съемкой</div>
                    <div class="publication__date">
                        19. 04 .22
                    </div>
                </div>
            </a>
            <a href="#" class="publication">
                <div class="publication__image">
                    <img src="./img/publication/pub1.png" alt="">
                </div>
                <div class="publication__content">
                    <div class="publication__title">Готовы поработать с нами?</div>
                
                    <div class="publication__text">Запись на съемку - это просто. Все что нужно знать пред съемкой</div>
                    <div class="publication__date">
                        19. 04 .22
                    </div>
                </div>
            </a>
            <a href="#" class="publication">
                <div class="publication__image">
                    <img src="./img/publication/pub1.png" alt="">
                </div>
                <div class="publication__content">
                    <div class="publication__title">Готовы поработать с нами?</div>
                
                    <div class="publication__text">Запись на съемку - это просто. Все что нужно знать пред съемкой</div>
                    <div class="publication__date">
                        19. 04 .22
                    </div>
                </div>
            </a>
            <a href="#" class="publication">
                <div class="publication__image">
                    <img src="./img/publication/pub1.png" alt="">
                </div>
                <div class="publication__content">
                    <div class="publication__title">Готовы поработать с нами?</div>
                
                    <div class="publication__text">Запись на съемку - это просто. Все что нужно знать пред съемкой</div>
                    <div class="publication__date">
                        19. 04 .22
                    </div>
                </div>
            </a>
            <a href="#" class="publication">
                <div class="publication__image">
                    <img src="./img/publication/pub1.png" alt="">
                </div>
                <div class="publication__content">
                    <div class="publication__title">Готовы поработать с нами?</div>
                
                    <div class="publication__text">Запись на съемку - это просто. Все что нужно знать пред съемкой</div>
                    <div class="publication__date">
                        19. 04 .22
                    </div>
                </div>
            </a>
        </div>
        <button class="blog-main__btn-all all-btn">
            Загрузить еще
        </button>
    </div>
</section>