<section class="card-news">
    <div class="container">
        <div class="card-news__wrapper">
            <div class="card-news__title">
                <strong>Готовы поработать с нами?</strong>
                <span>Время прочтении статьи - 5 минут</span>
            </div>
            <div class="card-news__text">
                <strong>Если в некоторых странах существует запрет на работу родственников в одной компании, то в России «кумовство» в деловой среде — скорее традиция, чем исключение.</strong>
                <p>Порой главы малых или средних предприятий считают членов семьи лучшими кандидатами на трудоустройство, так как провели с ними не один уик-энд или обед, а то и вовсе живут под одной крышей. Но эта коробочка с двойным дном. Рассказываем, с чем могут возникнуть сложности.</p>
                <p>Нам часто кажется, что мы знаем близких достаточно хорошо. Настолько хорошо, что готовы доверить им место в компании, которой управляем, ведь свой человек не подведёт! Справедливо уточнить, что нередко такие ожидания вполне оправдываются — и родственник действительно оказывается профессионалом с большой буквы. Но иногда становится очевидно, что по разным причинам расчёт не сработал — и в коллективе теперь балласт. Единой формулы успеха для управленцев тут нет, но ясно одно: нанимая на работу родственника, вы должны понимать, что придётся всё время маневрировать между задачами хорошего менеджера и тонкого психолога. Да, забегая вперёд, можно сказать, что это история о постоянной смене ролей и соответствии им. Для вас и вашего родственника.</p>
            </div>
            <div class="card-news__image-box">
                <div class="card-news__image">
                    <img src="./img/cardnews/card.png" alt="">
                </div>
                <div class="card-news__image-box-name">
                    Фотограф Марк за работой
                </div>
            </div>
            <div class="card-news__inner">
                <div class="card-news__note">
                    <span>У меня был опыт, когда я нанимала маму администратором, а также сестру — преподавателем, но пожалела об этом позже. Решающим фактором был не их опыт, а желание помочь. Само собой, я очень лояльно подошла к их кандидатурам.</span>
                    <strong>hr Анастасия</strong>
                </div>
                <div class="card-news__text">
                    <p>Одна из возможных скрытых угроз такого найма — формальное отношение родственников к своим обязанностям. Они горят работой на стадии обсуждения, но как только получат оффер и окажутся в вашем подчинении — искренне удивляются, что от них действительно требуют выполнять реальные задачи. Границы ролей в этом случае размываются: вы всё ещё мама и дочь, к примеру, а не шеф и сотрудник. А разве маму можно нагрузить работой? Для такой категории подчинённых офис — всего лишь продолжение домашнего пространства, где, по их мнению, действуют те же правила общения.</p>
                    <p>Кстати, уволить члена семьи не всегда так легко. Родство связывает руки: по соображениям совести даже самый жёсткий руководитель может долго не решаться разорвать трудовой договор с родственником, пусть он и слабый кадр. Юридически это право есть, но в сознании обоих существует некий иммунитет.
                        Предположим, что до разговора об увольнении дело всё же дошло. Но, если такой работник любое замечание по работе воспринимает как личное оскорбление, представьте в какую плоскость выльется предложение об уходе. Конечно, судебную тяжбу за должность с вами он, скорее всего, не затеет, но эмоциональная амплитуда конфликта может отрикошетить и в коллектив, и вовлечь всю вашу семью. Стоит ли говорить, что отношения в ней рискуют быть испорченными? Кроме этого, может пострадать и ваша репутация, как руководителя.</p>
                        <p>Может показаться, что мы сгущаем краски, но опыт отдельных директоров небольших компаний, которые успели поработать едва ли не с половиной своей семьи, показывает, что основания так считать есть. Некоторые годами строят бизнес друг с другом в такой атмосфере, где любая планёрка превращается в поле для личных претензий. «Железная» договорённость соблюдать субординацию и родственниками быть дома, а на работе — коллегами, испаряется. Выходит, что на ненужные склоки утекают время и внимание, которые и руководитель, и работник могли бы направить совсем в другое русло. Очевидно, что процессы компании замедляются, качество продукта или услуг падает.</p>
                </div>
            </div>
        </div>
    </div>
</section>