<section class="entry">
    <div class="container">
        <div class="entry__wrapper">
            <div class="entry__swiper swiper">
                <div class="entry__swiper-wrapper swiper-wrapper">
                    <div class="entry__slide swiper-slide">
                        <div class="entry__content">
                            <div class="entry__image-block">
                                <div class="entry__image-swiper swiper">
                                    <div class="entry__image-swiper-wrapper swiper-wrapper">
                                        <div class="entry__image-slide swiper-slide">
                                            <div class="entry__image-slide-content">
                                                <img src="./img/entry/entry1.png" alt="">
                                            </div>
                                        </div>
                                        <div class="entry__image-slide swiper-slide">
                                            <div class="entry__image-slide-content">
                                                <img src="./img/entry/entry2.png" alt="">
                                            </div>
                                        </div>
                                        <div class="entry__image-slide swiper-slide">
                                            <div class="entry__image-slide-content">
                                                <img src="./img/entry/entry3.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- entry__image-block -->
                            <div class="entry__block">
                                <div class="entry__title">Запись<br> на сборную съемку </div>
                                <div class="entry__select">
                                    <label for="">Выберите дату</label>
                                    <div class="select">
                                        <input class="select-input" type="hidden" name="">
                                        <div class="select-head">12.10.22 четв.</div>
                                        <ul class="select-list">
                                            <li class="select-item">12.10.22 пет.</li>
                                            <li class="select-item">L</li>
                                        </ul>
                                    </div>
                                </div>
                              
                                <div class="entry__inner">
                                    <div class="entry__inner-text">
                                        <span>Размер обуви</span>
                                        <strong>38</strong>
                                    </div>
                                    <div class="entry__inner-text">
                                        <span>рАЗМЕР ОДЕЖДЫ</span>
                                        <strong>40</strong>
                                    </div>
                                    <div class="entry__inner-text">
                                        <span>РОСТ</span>
                                        <strong>179 СМ</strong>
                                    </div>
                                    <div class="entry__inner-text">
                                        <span>Объем груди</span>
                                        <strong>81</strong>
                                    </div>

                                    <div class="entry__inner-text">
                                        <span>оБЪЕМ ТАЛИИ</span>
                                        <strong>81</strong>
                                    </div>
                                    <div class="entry__inner-text">
                                        <span>Объем бёдер</span>
                                        <strong>89</strong>
                                    </div>
                                </div>
                                <!-- inner -->
                                <div class="entry__text">
                                    <span>Доступно для записи</span>
                                    <strong>одежда, белье, купальники, аксессуары</strong>
                                </div>
                                <!-- text -->
                                <div class="entry__wrap">
                                    <div class="entry__style">
                                        <span>Каталог в стиле ASOS</span>
                                        <strong>мОДЕЛЬ EKATERINA R</strong>
                                    </div>
                                    <div class="entry__next-photo entry__next">
                                        <img src="./img/icon/photo.svg" alt="">
                                    </div>
                                    <div class="entry__tables">
                                        <div class="entry__tables-title">
                                            Свободные даты
                                        </div>
                                        <!-- title -->
                                        <div class="entry__tables-inner">
                                            <div class="entry__tables-date">
                                                <strong>10.10.22</strong>
                                                <span>среда</span>
                                            </div>
                                            <div class="entry__tables-date">
                                                <strong>10.10.22</strong>
                                                <span>среда</span>
                                            </div>
                                            <div class="entry__tables-date">
                                                <strong>10.10.22</strong>
                                                <span>среда</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          
                                <a href="https://www.mexc.com/exchange/JOYSTREAM_USDT?_from=search_spot_trade" class="entry__btn">
                                    <span>записаться</span>
                                </a>
                            </div>
                            <!-- block -->
                        </div>
                    </div>
                    <!-- slide -->
                    <div class="entry__slide swiper-slide">
                        <div class="entry__content">
                            <div class="entry__image-block">
                                <div class="entry__image-swiper swiper">
                                    <div class="entry__image-swiper-wrapper swiper-wrapper">
                                        <div class="entry__image-slide swiper-slide">
                                            <div class="entry__image-slide-content">
                                                <img src="./img/entry/entry1.png" alt="">
                                            </div>
                                        </div>
                                        <div class="entry__image-slide swiper-slide">
                                            <div class="entry__image-slide-content">
                                                <img src="./img/entry/entry2.png" alt="">
                                            </div>
                                        </div>
                                        <div class="entry__image-slide swiper-slide">
                                            <div class="entry__image-slide-content">
                                                <img src="./img/entry/entry3.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- entry__image-block -->
                            <div class="entry__block">
                                <div class="entry__title">Запись<br> на сборную съемку </div>
                                <div class="entry__select">
                                    <label for="">Выберите дату</label>
                                    <div class="select">
                                        <input class="select-input" type="hidden" name="">
                                        <div class="select-head">12.10.22 четв.</div>
                                        <ul class="select-list">
                                            <li class="select-item">12.10.22 пет.</li>
                                            <li class="select-item">L</li>
                                        </ul>
                                    </div>
                                </div>
                              
                                <div class="entry__inner">
                                    <div class="entry__inner-text">
                                        <span>Размер обуви</span>
                                        <strong>38</strong>
                                    </div>
                                    <div class="entry__inner-text">
                                        <span>рАЗМЕР ОДЕЖДЫ</span>
                                        <strong>40</strong>
                                    </div>
                                    <div class="entry__inner-text">
                                        <span>РОСТ</span>
                                        <strong>179 СМ</strong>
                                    </div>
                                    <div class="entry__inner-text">
                                        <span>Объем груди</span>
                                        <strong>81</strong>
                                    </div>

                                    <div class="entry__inner-text">
                                        <span>оБЪЕМ ТАЛИИ</span>
                                        <strong>81</strong>
                                    </div>
                                    <div class="entry__inner-text">
                                        <span>Объем бёдер</span>
                                        <strong>89</strong>
                                    </div>
                                </div>
                                <!-- inner -->
                                <div class="entry__text">
                                    <span>Доступно для записи</span>
                                    <strong>одежда, белье, купальники, аксессуары</strong>
                                </div>
                                <!-- text -->
                                <div class="entry__wrap">
                                    <div class="entry__style">
                                        <span>Каталог в стиле ASOS</span>
                                        <strong>мОДЕЛЬ EKATERINA R</strong>
                                    </div>
                                    <div class="entry__next-photo entry__next">
                                        <img src="./img/icon/photo.svg" alt="">
                                    </div>
                                    <div class="entry__tables">
                                        <div class="entry__tables-title">
                                            Свободные даты
                                        </div>
                                        <!-- title -->
                                        <div class="entry__tables-inner">
                                            <div class="entry__tables-date">
                                                <strong>10.10.22</strong>
                                                <span>среда</span>
                                            </div>
                                            <div class="entry__tables-date">
                                                <strong>10.10.22</strong>
                                                <span>среда</span>
                                            </div>
                                            <div class="entry__tables-date">
                                                <strong>10.10.22</strong>
                                                <span>среда</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          
                                <a href="https://education.dhabits.ru/top8-podcastov-javascript" class="entry__btn">
                                    <span>записаться</span>
                                </a>
                            </div>
                            <!-- block -->
                        </div>
                    </div>
                    <!-- slide -->
                </div>
            </div>
        </div>
        <div class="entry__swiper-two swiper">
            <div class="entry__swiper-two-pagination"></div>
            <div class="entry__swiper-wrapper-two swiper-wrapper">
                <div class="entry__slide-two swiper-slide">
                    <div class="entry__slide-content-two">
                        <div class="entry__slide-circle">
                            <svg  viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="svg-ops"
                                 d="M1 13C1 19.6274 6.37258 25 13 25C19.2907 25 25 19.6274 25 13C25 6.37258 19.6274 1 13 1C6.37258 1 1 6.37258 1 13Z"
                                  stroke="white" stroke-width="0.15" />

                                  <path class="svg-white"
                                  d="M1 13C1 19.6274 6.37258 25 13 25C19.2907 25 25 19.6274 25 13C25 6.37258 19.6274 1 13 1C6.37258 1 1 6.37258 1 13Z"
                                   stroke="white" stroke-width="0.15" />
                            </svg>
                        </div>
                        <div class="entry__slide-content-two-image">
                            <img src="./img/entry/ba.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- slide -->
                <div class="entry__slide-two swiper-slide">
                    <div class="entry__slide-content-two">
                        <div class="entry__slide-circle">
                            <svg  viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="svg-ops"
                                 d="M1 13C1 19.6274 6.37258 25 13 25C19.2907 25 25 19.6274 25 13C25 6.37258 19.6274 1 13 1C6.37258 1 1 6.37258 1 13Z"
                                  stroke="white" stroke-width="0.15" />

                                  <path class="svg-white"
                                  d="M1 13C1 19.6274 6.37258 25 13 25C19.2907 25 25 19.6274 25 13C25 6.37258 19.6274 1 13 1C6.37258 1 1 6.37258 1 13Z"
                                   stroke="white" stroke-width="0.15" />
                            </svg>
                        </div>
                        <div class="entry__slide-content-two-image">
                            <img src="./img/main/main3.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- slide -->
            </div>
        </div> 
        <div class="pagination entry__pagination">
            <div class="pagination__fraction entry__fraction">

            </div>
            <div class="pagination__arrows entry__pagination-arrows">
                <div class="pagination__prev entry__prev">
                    <svg width="35" height="12" viewBox="0 0 35 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.219669 5.79119C-0.0732231 6.08409 -0.0732231 6.55896 0.219669 6.85185L4.99264 11.6248C5.28553 11.9177 5.76041 11.9177 6.0533 11.6248C6.34619 11.3319 6.34619 10.8571 6.0533 10.5642L1.81066 6.32152L6.0533 2.07888C6.3462 1.78599 6.3462 1.31112 6.0533 1.01822C5.76041 0.725331 5.28554 0.725331 4.99264 1.01822L0.219669 5.79119ZM34.75 5.57153L0.75 5.57152L0.75 7.07152L34.75 7.07153L34.75 5.57153Z" />
                        </svg>
                        
                </div>
                <div class="pagination__next entry__next">
                    <svg  viewBox="0 0 36 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M35.2803 5.79119C35.5732 6.08409 35.5732 6.55896 35.2803 6.85185L30.5074 11.6248C30.2145 11.9177 29.7396 11.9177 29.4467 11.6248C29.1538 11.3319 29.1538 10.8571 29.4467 10.5642L33.6893 6.32152L29.4467 2.07888C29.1538 1.78599 29.1538 1.31112 29.4467 1.01822C29.7396 0.725331 30.2145 0.725331 30.5074 1.01822L35.2803 5.79119ZM0.75 5.57153L34.75 5.57152L34.75 7.07152L0.75 7.07153L0.75 5.57153Z" />
                    </svg>
                        
                </div>
            </div>
        </div>
    </div>
</section>