<section class="example">
    <div class="container">
        <div class="title"><span>примеры</span> работы</div>
        <div class="example__wrapper">
            <a href="#" class="product-model">
                <div class="product-model__image">
                    <img src="./img/womans/woman1.png" alt="">
                </div>
                <div class="product-model__name">Каталог в стиле asos</div>
            </a>
            <a href="#" class="product-model">
                <div class="product-model__image">
                    <img src="./img/womans/woman2.png" alt="">
                </div>
                <div class="product-model__name">Каталог в стиле asos</div>
            </a>
            <a href="#" class="product-model">
                <div class="product-model__image">
                    <img src="./img/womans/woman3.png" alt="">
                </div>
                <div class="product-model__name">Каталог в стиле asos</div>
            </a>
            <a href="#" class="product-model">
                <div class="product-model__image">
                    <img src="./img/womans/woman4.png" alt="">
                </div>
                <div class="product-model__name">Каталог в стиле asos</div>
            </a>
            <a href="#" class="product-model">
                <div class="product-model__image">
                    <img src="./img/womans/woman5.png" alt="">
                </div>
                <div class="product-model__name">Каталог в стиле asos</div>
            </a>
            <a href="#" class="product-model">
                <div class="product-model__image">
                    <img src="./img/womans/woman6.png" alt="">
                </div>
                <div class="product-model__name">Каталог в стиле asos</div>
            </a>
            <a href="#" class="product-model">
                <div class="product-model__image">
                    <img src="./img/womans/woman7.png" alt="">
                </div>
                <div class="product-model__name">Каталог в стиле asos</div>
            </a>
            <a href="#" class="product-model">
                <div class="product-model__image">
                    <img src="./img/womans/woman8.png" alt="">
                </div>
                <div class="product-model__name">Каталог в стиле asos</div>
            </a>
        </div>
        <button class="example__btn-all">Загрузить еще</button>
    </div>
</section>