<section class="hub-model">
    <div class="container">
        <div class="hub-model__wrapper">
            <a href="" class="model">
                <div class="model__image">
                    <img src="./img/modal/modal.png" alt="">
                </div>
                <div class="model__name">АNNA T</div>
                <div class="model__catalog">Каталог в стиле Asos </div>
                <div class="model__date">10.10.22</div>
            </a>
            <a href="" class="model">
                <div class="model__image">
                    <img src="./img/modal/modal.png" alt="">
                </div>
                <div class="model__name">АNNA T</div>
                <div class="model__catalog">Каталог в стиле Asos </div>
                <div class="model__date">10.10.22</div>
            </a>
            <a href="" class="model">
                <div class="model__image">
                    <img src="./img/modal/modal.png" alt="">
                </div>
                <div class="model__name">АNNA T</div>
                <div class="model__catalog">Каталог в стиле Asos </div>
                <div class="model__date">10.10.22</div>
            </a>
            <a href="" class="model">
                <div class="model__image">
                    <img src="./img/modal/modal.png" alt="">
                </div>
                <div class="model__name">АNNA T</div>
                <div class="model__catalog">Каталог в стиле Asos </div>
                <div class="model__date">10.10.22</div>
            </a>
            <a href="" class="model">
                <div class="model__image">
                    <img src="./img/modal/modal.png" alt="">
                </div>
                <div class="model__name">АNNA T</div>
                <div class="model__catalog">Каталог в стиле Asos </div>
                <div class="model__status">повышенная стоимость</div>
                <div class="model__date">10.10.22</div>
            </a>
            <a href="" class="model">
                <div class="model__image">
                    <img src="./img/modal/modal.png" alt="">
                </div>
                <div class="model__name">АNNA T</div>
                <div class="model__catalog">Каталог в стиле Asos </div>
                <div class="model__status">повышенная стоимость</div>
                <div class="model__date">10.10.22</div>
            </a>
            <a href="" class="model">
                <div class="model__image">
                    <img src="./img/modal/modal.png" alt="">
                </div>
                <div class="model__name">АNNA T</div>
                <div class="model__catalog">Каталог в стиле Asos </div>
                <div class="model__date">10.10.22</div>
            </a>
            <a href="" class="model">
                <div class="model__image">
                    <img src="./img/modal/modal.png" alt="">
                </div>
                <div class="model__name">АNNA T</div>
                <div class="model__catalog">Каталог в стиле Asos </div>
                <div class="model__date">10.10.22</div>
            </a>
            <a href="" class="model">
                <div class="model__image">
                    <img src="./img/modal/modal.png" alt="">
                </div>
                <div class="model__name">АNNA T</div>
                <div class="model__catalog">Каталог в стиле Asos </div>
                <div class="model__date">10.10.22</div>
            </a>
            <a href="" class="model">
                <div class="model__image">
                    <img src="./img/modal/modal.png" alt="">
                </div>
                <div class="model__name">АNNA T</div>
                <div class="model__catalog">Каталог в стиле Asos </div>
                <div class="model__date">10.10.22</div>
            </a>
            <a href="" class="model">
                <div class="model__image">
                    <img src="./img/modal/modal.png" alt="">
                </div>
                <div class="model__name">АNNA T</div>
                <div class="model__catalog">Каталог в стиле Asos </div>
                <div class="model__status">повышенная стоимость</div>
                <div class="model__date">10.10.22</div>
            </a>
            <a href="" class="model">
                <div class="model__image">
                    <img src="./img/modal/modal.png" alt="">
                </div>
                <div class="model__name">АNNA T</div>
                <div class="model__catalog">Каталог в стиле Asos </div>
                <div class="model__status">повышенная стоимость</div>
                <div class="model__date">10.10.22</div>
            </a>
        </div>
        <div class="hub-model__mobile">
            <a href="" class="model">
                <div class="model__image">
                    <img src="./img/modal/modal.png" alt="">
                </div>
                <div class="model__name">АNNA T</div>
                <div class="model__catalog">Каталог в стиле Asos </div>
                <div class="model__date">10.10.22</div>
            </a>
            <a href="" class="model">
                <div class="model__image">
                    <img src="./img/modal/modal.png" alt="">
                </div>
                <div class="model__name">АNNA T</div>
                <div class="model__catalog">Каталог в стиле Asos </div>
                <div class="model__date">10.10.22</div>
            </a>
            <a href="" class="model">
                <div class="model__image">
                    <img src="./img/modal/modal.png" alt="">
                </div>
                <div class="model__name">АNNA T</div>
                <div class="model__catalog">Каталог в стиле Asos </div>
                <div class="model__status">повышенная стоимость</div>
                <div class="model__date">10.10.22</div>
            </a>
            <a href="" class="model">
                <div class="model__image">
                    <img src="./img/modal/modal.png" alt="">
                </div>
                <div class="model__name">АNNA T</div>
                <div class="model__catalog">Каталог в стиле Asos </div>
                <div class="model__status">повышенная стоимость</div>
                <div class="model__date">10.10.22</div>
            </a>
        </div>
        <button  class="catalog__btn-all">Загрузить еще</button>
    </div>
</section>