<section class="modern-co">
    <div class="container">
        <div class="modern-co__wrapper">
            <div class="modern-co__top">
                <div class="modern-co__title"><span>современный</span> контент<br>
                    <p>для вашего <span>бренда</span></p>
                </div>
                <div class="modern-co__top-text">
                    Разработаем уникальные фотографии для вашего бизнеса
                </div>
                <a href="" class="link">Оставить заявку</a>
            </div>
            <!-- top -->
            <div class="modern-co__bottom">
                <div class="modern-co__left">
                    <div class="modern-co__left-text">
                        фото и видео контент
                    </div>
                    <!-- text -->
                    <div class="modern-co__left-image-block">
                        <img class="modern-co__image-shoes" src="./img/modern/shoes.png" alt="">
                        <img class="modern-co__image-stand" src="./img/modern/stand.png" alt="">
                    </div>
                </div>
                <!-- left -->
                <div class="modern-co__right">
                    <div class="modern-co__right-image-block">
                        <img class="modern-co__right-image-bag" src="./img/modern/bag.png" alt="">
                        <img class="modern-co__right-image-stand-big" src="./img/modern/big-stand.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>