<section class="models">

    <div class="container">
        <div class="models__title">
            <div class="title">
                <span>блог</span> компании
            </div>
            <a href="" class="link ">Смотреть всех</a>
        </div>
        
         <div class="models__wrapper">
             <div class="models__swiper swiper">
                <div class="models__swiper-wrapper swiper-wrapper">
                    <div class="models__slide">
                        <a href="" class="model">
                            <div class="model__image">
                                <img src="./img/modal/modal.png" alt="">
                            </div>
                            <div class="model__name">АNNA T</div>
                            <div class="model__catalog">Каталог в стиле Asos </div>
                           
                            <div class="model__date">10.10.22</div>
                        </a>
                    </div>
                    <div class="models__slide">
                        <a href="" class="model">
                            <div class="model__image">
                                <img src="./img/modal/modal.png" alt="">
                            </div>
                            <div class="model__name">АNNA T</div>
                            <div class="model__catalog">Каталог в стиле Asos </div>
                           
                            <div class="model__date">10.10.22</div>
                        </a>
                    </div>
                    <div class="models__slide">
                        <a href="" class="model">
                            <div class="model__image">
                                <img src="./img/modal/modal.png" alt="">
                            </div>
                            <div class="model__name">АNNA T</div>
                            <div class="model__catalog">Каталог в стиле Asos </div>
                           
                            <div class="model__date">10.10.22</div>
                        </a>
                    </div>
                    <div class="models__slide">
                        <a href="" class="model">
                            <div class="model__image">
                                <img src="./img/modal/modal.png" alt="">
                            </div>
                            <div class="model__name">АNNA T</div>
                            <div class="model__catalog">Каталог в стиле Asos </div>
                           
                            <div class="model__date">10.10.22</div>
                        </a>
                    </div>
                    <div class="models__slide">
                        <a href="" class="model">
                            <div class="model__image">
                                <img src="./img/modal/modal.png" alt="">
                            </div>
                            <div class="model__name">АNNA T</div>
                            <div class="model__catalog">Каталог в стиле Asos </div>
                            <div class="model__status">повышенная стоимость</div>
                            <div class="model__date">10.10.22</div>
                        </a>
                    </div>
                    <div class="models__slide">
                        <a href="" class="model">
                            <div class="model__image">
                                <img src="./img/modal/modal.png" alt="">
                            </div>
                            <div class="model__name">АNNA T</div>
                            <div class="model__catalog">Каталог в стиле Asos </div>
                            <div class="model__status">повышенная стоимость</div>
                            <div class="model__date">10.10.22</div>
                        </a>
                    </div>
                    <div class="models__slide">
                        <a href="" class="model">
                            <div class="model__image">
                                <img src="./img/modal/modal.png" alt="">
                            </div>
                            <div class="model__name">АNNA T</div>
                            <div class="model__catalog">Каталог в стиле Asos </div>
                           
                            <div class="model__date">10.10.22</div>
                        </a>
                    </div>
                    <div class="models__slide">
                        <a href="" class="model">
                            <div class="model__image">
                                <img src="./img/modal/modal.png" alt="">
                            </div>
                            <div class="model__name">АNNA T</div>
                            <div class="model__catalog">Каталог в стиле Asos </div>
                           
                            <div class="model__date">10.10.22</div>
                        </a>
                    </div>
                    <div class="models__slide">
                        <a href="" class="model">
                            <div class="model__image">
                                <img src="./img/modal/modal.png" alt="">
                            </div>
                            <div class="model__name">АNNA T</div>
                            <div class="model__catalog">Каталог в стиле Asos </div>
                           
                            <div class="model__date">10.10.22</div>
                        </a>
                    </div>
                    <div class="models__slide">
                        <a href="" class="model">
                            <div class="model__image">
                                <img src="./img/modal/modal.png" alt="">
                            </div>
                            <div class="model__name">АNNA T</div>
                            <div class="model__catalog">Каталог в стиле Asos </div>
                           
                            <div class="model__date">10.10.22</div>
                        </a>
                    </div>
                    <div class="models__slide">
                        <a href="" class="model">
                            <div class="model__image">
                                <img src="./img/modal/modal.png" alt="">
                            </div>
                            <div class="model__name">АNNA T</div>
                            <div class="model__catalog">Каталог в стиле Asos </div>
                            <div class="model__status">повышенная стоимость</div>
                            <div class="model__date">10.10.22</div>
                        </a>
                    </div>
                    <div class="models__slide">
                        <a href="" class="model">
                            <div class="model__image">
                                <img src="./img/modal/modal.png" alt="">
                            </div>
                            <div class="model__name">АNNA T</div>
                            <div class="model__catalog">Каталог в стиле Asos </div>
                            <div class="model__status">повышенная стоимость</div>
                            <div class="model__date">10.10.22</div>
                        </a>
                    </div>
                </div>
             </div>
         </div>
    </div>
</section>