<section class="options-m">
    <div class="container">
        <div class="options-m__wrapper">
            <div class="options-m__left">
                <div class="options-m__title">
                    <span>Фотосъемка осуществляется от 1 артикула</span>
                    <strong>Что входит в услугу</strong>
                </div>
                <ul class="options-m__lists">
                    <li>стилист по одежде с предоставлением базовой одежды/обуви аксессуаров, для создания полноценного лука</li>
                    <li>базовая ретушь 7 фото на артикул</li>
                    <li>модель</li>
                    <li>фотостудия</li>
                    <li>визажист</li>
                    <li>ассистенты для отпаривания одежды</li>
                    <li>Подготовка изделия к фотосъемке</li>
                    
                </ul>
            </div>
            <!-- left -->
            <div class="options-m__right">
                <div class="options-m__video">
                    <img src="./img/options/options1.png" alt="">
                    <button class="options-m__video-play">
                        <img src="./img/options/tringle.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.options-m -->