<section class="read-also">
    <div class="container">
        <div class="read-also__title">
            <div class="title"><span>читайте также</span></div>
            <a href="" class="link">другие статьи</a>
        </div>
        <div class="read-also__wrapper">
            <a href="#" class="publication">
                <div class="publication__image">
                    <img src="./img/publication/pub1.png" alt="">
                </div>
                <div class="publication__content">
                    <div class="publication__title">Готовы поработать с нами?</div>
                
                    <div class="publication__text">Запись на съемку - это просто. Все что нужно знать пред съемкой</div>
                    <div class="publication__date">
                        19. 04 .22
                    </div>
                </div>
            </a>
            <a href="#" class="publication">
                <div class="publication__image">
                    <img src="./img/publication/pub1.png" alt="">
                </div>
                <div class="publication__content">
                    <div class="publication__title">Готовы поработать с нами?</div>
                
                    <div class="publication__text">Запись на съемку - это просто. Все что нужно знать пред съемкой</div>
                    <div class="publication__date">
                        19. 04 .22
                    </div>
                </div>
            </a>
            <a href="#" class="publication">
                <div class="publication__image">
                    <img src="./img/publication/pub1.png" alt="">
                </div>
                <div class="publication__content">
                    <div class="publication__title">Готовы поработать с нами?</div>
                
                    <div class="publication__text">Запись на съемку - это просто. Все что нужно знать пред съемкой</div>
                    <div class="publication__date">
                        19. 04 .22
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>