<section class="record">
    <div class="container">
        <div class="title"><span>Заполните анкету:</span></div>
        <form class="record__form">
            <div class="record__form-wrap">
                <div class="record__form-inner">
                    <label for="">введите название бренда *</label>
                    <input type="text" placeholder="Например: Gucci">
                </div>
                <!-- inner -->
                <div class="record__form-inner">
                    <label for="">контактное лицо *</label>
                    <input type="text" placeholder="Например: Виктория">
                </div>
                <!-- inner -->
            </div>
            <div class="record__form-wrap">
                <div class="record__form-inner">
                    <label for="">введите номер телефона *</label>
                    <input type="text" placeholder="+ 7">
                    <span class="record__form-crib">Просьба, указывать номер телефона, прикрепленный к мессенджерам*</span>
                </div>
                <!-- inner -->
                <div class="record__form-inner">
                    <label for="">контактное лицо *</label>
                    <input type="text" placeholder="Например: Виктория">
                </div>
                <!-- inner -->
            </div>
            <div class="record__form-wrap">
                <div class="record__form-inner">
                    <label for="">количество артикулов на съемку</label>
                    <input type="text" placeholder="Количество артикулов">
                    <span class="record__form-crib">Кол-во свободных артикулов: <b>32</b></span>
                </div>
                <!-- inner -->
                <div class="record__form-inner">
                    <label for="">Присутствие на съемке</label>
                    <div class="record__form-radio">
                        <input id="radio-1" type="radio" name="radio" value="1" checked>
                        <label for="radio-1">Буду присутствовать я лично либо представитель компании</label>
                    </div>
                    <div class="record__form-radio">
                        <input id="radio-2" type="radio" name="radio" value="2">
                        <label for="radio-2">Не буду присутствовать, отправлю вещи курьером</label>
                    </div>
                </div>
                <!-- inner -->
            </div>
        </form>
        <div class="record__annotation">какой формат видео требуется <span>(можно выбрать несколько вариантов)</span></div>
        <div class="record__wrapper">
            <article class="record-form active">
                <div class="record__checkbox">
                    <input class="record__custom-checkbox" type="checkbox" id="color-1" name="checkbox" value="Проходка для Wildberries" checked>
                    <label for="color-1">Проходка для Wildberries</label>
                </div>
                <div class="record-form__price">
                    1800 <span><b>₽</b>/видео</span>
                </div>
                <div class="record-form__video">
                    <img src="./img/record/record1.png" alt="">
                    <div class="record-form__video-play">
                        <img src="./img/options/tringle.svg" alt="">
                    </div>
                </div>
                <div class="record-form__block">
                    <div class="record-form__block-text">
                        выберите количество<br> видео
                    </div>
                    <!-- text -->
                    <div class="record-form__expression">
                        <div class="number">
                            <span class="minus">-</span>
                            <input class="count" type="text" value="00" size="5"/>
                            <span class="plus">+</span>
                        </div>
                    </div>
                </div>
            </article>
            <article class="record-form">
                <div class="record__checkbox">
                    <input class="record__custom-checkbox" type="checkbox" id="color-2" name="checkbox" value="Динамичная проходка">
                    <label for="color-2">Динамичная проходка</label>
                </div>
                <div class="record-form__price">
                    1800 <span><b>₽</b>/видео</span>
                </div>
                <div class="record-form__video">
                    <img src="./img/record/record2.png" alt="">
                    <div class="record-form__video-play">
                        <img src="./img/options/tringle.svg" alt="">
                    </div>
                </div>
                <div class="record-form__block">
                    <div class="record-form__block-text">
                        выберите количество<br> видео
                    </div>
                    <!-- text -->
                    <div class="record-form__expression">
                        <div class="number">
                            <span class="minus">-</span>
                            <input class="count" type="text" value="00" size="5"/>
                            <span class="plus">+</span>
                        </div>
                    </div>
                </div>
            </article>
            <article class="record-form">
                <div class="record__checkbox">
                    <input class="record__custom-checkbox" type="checkbox" id="color-3" name="checkbox" value="Имиджевое для инстаграм">
                    <label for="color-3">Имиджевое для инстаграм</label>
                </div>
                <div class="record-form__price">
                    1800 <span><b>₽</b>/видео</span>
                </div>
                <div class="record-form__video">
                    <img src="./img/record/record3.png" alt="">
                    <div class="record-form__video-play">
                        <img src="./img/options/tringle.svg" alt="">
                    </div>
                </div>
                <div class="record-form__block">
                    <div class="record-form__block-text">
                        выберите количество<br> видео
                    </div>
                    <!-- text -->
                    <div class="record-form__expression">
                        <div class="number">
                            <span class="minus">-</span>
                            <input class="count" type="text" value="00" size="5"/>
                            <span class="plus">+</span>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <!-- wrapper -->
        <form class="record__form">
            <div class="record__form-wrap">
                <div class="record__form-inner">
                    <label for="">Ссылка на ваш бренд</label>
                    <input type="text" placeholder="Например: Gucci">
                </div>
                <!-- inner -->
                <div class="record__form-inner">
                    <label for="">Пожелания к съемке</label>
                    <input type="text" placeholder="Комментарии">
                    <span class="record__form-crib">В данной графе вы можете выразить пожелания к цвету фона, к стилистике, позированию модели.</span>
                </div>
                <!-- inner -->
            </div>
           
        </form>
        <div class="record__price-block">
            <div class="record__total"><span>Итоговая сумма:</span>1800<b>₽</b></div>
            <div class="record__inner-check">
                <div class="record__checkbox">
                    <input class="record__custom-checkbox" type="checkbox" id="color-5" name="color-5" value="ознакомлен с правилами участия в фотосъемке" checked>
                    <label for="color-5">ознакомлен с правилами участия в фотосъемке</label>
                </div>
                <div class="record__checkbox">
                    <input class="record__custom-checkbox" type="checkbox" id="color-6" name="color-6" value="подтверждая заказ даю cогласие на обработку персональных данных" checked>
                    <label for="color-6">подтверждая заказ даю cогласие на обработку персональных данных</label>
                </div>
            </div>
        </div>
        <button class="link">оплатить как физ. лицо</button>
    </div>
</section>
<!-- /.record -->