<section class="shooting">
    <div class="container">
        <div class="shooting__wrapper">
            <div class="shooting__nav swiper">
                <div class="shooting__nav-wrapper swiper-wrapper">
                    <div class="shooting__nav-slide swiper-slide">
                        <div class="shooting__nav-text">съемка манекен</div>
                    </div>
                    <!-- text -->
                    <div class="shooting__nav-slide swiper-slide">
                        <div class="shooting__nav-text">предметная съемка</div>
                    </div>
                    <!-- text -->
                    <div class="shooting__nav-slide swiper-slide">
                        <div class="shooting__nav-text">сборная съемка</div>
                    </div>
                    <!-- text -->
                    <div class="shooting__nav-slide swiper-slide">
                        <div class="shooting__nav-text">съемка видео</div>
                    </div>
                    <!-- text -->
                    <div class="shooting__nav-slide swiper-slide">
                        <div class="shooting__nav-text">ретушь фото</div>
                    </div>
                    <!-- text -->
                    <div class="shooting__nav-slide swiper-slide">
                        <div class="shooting__nav-text">инфографика</div>
                    </div>
                    <!-- text -->
                    <div class="shooting__nav-slide swiper-slide">
                        <div class="shooting__nav-text">фото отзыв</div>
                    </div>
                    <!-- text -->
                </div>
            </div>
            <div class="shooting__swiper swiper">
                <div class="shooting__swiper-wrapper swiper-wrapper">
                    <div class="shooting__slide swiper-slide">
                        <div class="shooting__slide-content">
                            <div class="shooting__slide-content-inner">
                                <div class="shooting__slide-title">
                                    съемка<br>
                                    <span>манекен</span>
                                </div>
                                <div class="shooting__slide-text">Фотосъемка моделей коммерческого типада с опытом работы в каталожных системах ведущих маркетплейс</div>
                                <a href="" class="link">пОДРОБНЕЕ ОБ УСЛУГЕ</a>
                            </div>
                            <!-- inner -->
                            <div class="shooting__slide-image">
                                <img src="./img/shooting/shooting.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="shooting__slide swiper-slide">
                        <div class="shooting__slide-content">
                            <div class="shooting__slide-content-inner">
                                <div class="shooting__slide-title">
                                     
                                     предметная<br>
                                    <span>съемка</span>
                                </div>
                                <div class="shooting__slide-text">Фотосъемка моделей коммерческого типада с опытом работы в каталожных системах ведущих маркетплейс</div>
                                <a href="" class="link">пОДРОБНЕЕ ОБ УСЛУГЕ</a>
                            </div>
                            <!-- inner -->
                            <div class="shooting__slide-image">
                                <img src="./img/shooting/shooting.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="shooting__slide swiper-slide">
                        <div class="shooting__slide-content">
                            <div class="shooting__slide-content-inner">
                                <div class="shooting__slide-title">
                                    сборная<br>
                                    <span>съемка</span>
                                </div>
                                <div class="shooting__slide-text">Фотосъемка моделей коммерческого типада с опытом работы в каталожных системах ведущих маркетплейс</div>
                                <a href="" class="link">пОДРОБНЕЕ ОБ УСЛУГЕ</a>
                            </div>
                            <!-- inner -->
                            <div class="shooting__slide-image">
                                <img src="./img/shooting/shooting.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="shooting__slide swiper-slide">
                        <div class="shooting__slide-content">
                            <div class="shooting__slide-content-inner">
                                <div class="shooting__slide-title">
                                    съемка<br>
                                    <span>видео</span>
                                </div>
                                <div class="shooting__slide-text">Фотосъемка моделей коммерческого типада с опытом работы в каталожных системах ведущих маркетплейс</div>
                                <a href="" class="link">пОДРОБНЕЕ ОБ УСЛУГЕ</a>
                            </div>
                            <!-- inner -->
                            <div class="shooting__slide-image">
                                <img src="./img/shooting/shooting.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="shooting__slide swiper-slide">
                        <div class="shooting__slide-content">
                            <div class="shooting__slide-content-inner">
                                <div class="shooting__slide-title">
                                    ретушь<br>
                                    <span> фото</span>
                                </div>
                                <div class="shooting__slide-text">Фотосъемка моделей коммерческого типада с опытом работы в каталожных системах ведущих маркетплейс</div>
                                <a href="" class="link">пОДРОБНЕЕ ОБ УСЛУГЕ</a>
                            </div>
                            <!-- inner -->
                            <div class="shooting__slide-image">
                                <img src="./img/shooting/shooting.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="shooting__slide swiper-slide">
                        <div class="shooting__slide-content">
                            <div class="shooting__slide-content-inner">
                                <div class="shooting__slide-title">
                                    инфографика<br>
                                    
                                </div>
                                <div class="shooting__slide-text">Фотосъемка моделей коммерческого типада с опытом работы в каталожных системах ведущих маркетплейс</div>
                                <a href="" class="link">пОДРОБНЕЕ ОБ УСЛУГЕ</a>
                            </div>
                            <!-- inner -->
                            <div class="shooting__slide-image">
                                <img src="./img/shooting/shooting.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="shooting__slide swiper-slide">
                        <div class="shooting__slide-content">
                            <div class="shooting__slide-content-inner">
                                <div class="shooting__slide-title">
                                    фото<br>
                                    <span>отзыв</span>
                                </div>
                                <div class="shooting__slide-text">Фотосъемка моделей коммерческого типада с опытом работы в каталожных системах ведущих маркетплейс</div>
                                <a href="" class="link">пОДРОБНЕЕ ОБ УСЛУГЕ</a>
                            </div>
                            <!-- inner -->
                            <div class="shooting__slide-image">
                                <img src="./img/shooting/shooting.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bullet__pagination shooting__bullets">
            
        </div>
    </div>
</section>
<!-- /.shooting -->