<section class="types-model">
    <div class="container">
        <div class="types-model__wrapper">
            <div class="types-model__nav">
                <div class="types-model__nav-text active" data-tab="1">модели<br> стандарт</div>
                <div class="types-model__nav-text" data-tab="2">Модели с повышенной<br> стоимостью</div>
                <div class="types-model__nav-text" data-tab="3">Дополнительно</div>
            </div>
            <!--  -->
            <div class="types-model__wrap">
                <div class="types-model__slide-title-mob">цены на услугу в категории</div>
                <div class="types-model__slide-title">Модели <span>СТАНДАРТ</span></div>
                <div class="types-model__block types-model__js active" data-tab="1">
                    <div class="types-model__inner">
                        <div class="types-model__number">от 1 до 2 арт. </div>
                        <div class="types-model__price">
                            <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                        </div>
                    </div>
                    <!-- inner -->
                    <div class="types-model__inner">
                        <div class="types-model__number">от 3 до 10 арт.  </div>
                        <div class="types-model__price">
                            <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                        </div>
                    </div>
                    <!-- inner -->
                    <div class="types-model__inner">
                        <div class="types-model__number">от 11 до 15 арт.  </div>
                        <div class="types-model__price">
                            <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                        </div>
                    </div>
                    <!-- inner -->
                    <div class="types-model__inner">
                        <div class="types-model__number">от 16 до 25 арт. </div>
                        <div class="types-model__price">
                            <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                        </div>
                    </div>
                    <!-- inner -->
                    <div class="types-model__inner">
                        <div class="types-model__number">Головные уборы, заколки для волос, обувь, перчатки </div>
                        <div class="types-model__price">
                            <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                        </div>
                    </div>
                    <!-- inner -->
                    <div class="types-model__inner">
                        <div class="types-model__number">Очки, украшения, ремни </div>
                        <div class="types-model__price">
                            <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                        </div>
                    </div>
                    <!-- inner -->
                    <div class="types-model__inner">
                        <div class="types-model__number">Сумки, рюкзаки  (от 3 арт) </div>
                        <div class="types-model__price">
                            <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                        </div>
                    </div>
                    <!-- inner -->
                    <div class="types-model__inner">
                        <div class="types-model__number">Фотосъемка контента для Instagram </div>
                        <div class="types-model__price">
                            <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                        </div>
                    </div>
                    <!-- inner -->
                    <div class="types-model__inner">
                        <div class="types-model__number">Фотосъемка в стиле Asos - 2500 р/арт</div>
                        <div class="types-model__price">
                            <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                        </div>
                    </div>
                    <!-- inner -->
                </div>
                <div class="types-model__block types-model__js" data-tab="2">
                    <div class="types-model__inner">
                        <div class="types-model__number">от 1 до 2 арт. </div>
                        <div class="types-model__price">
                            <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                        </div>
                    </div>
                    <!-- inner -->
                    <div class="types-model__inner">
                        <div class="types-model__number">от 3 до 10 арт.  </div>
                        <div class="types-model__price">
                            <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                        </div>
                    </div>
                    <!-- inner -->
                    <div class="types-model__inner">
                        <div class="types-model__number">от 11 до 15 арт.  </div>
                        <div class="types-model__price">
                            <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                        </div>
                    </div>
                    <!-- inner -->
                    <div class="types-model__inner">
                        <div class="types-model__number">от 16 до 25 арт. </div>
                        <div class="types-model__price">
                            <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                        </div>
                    </div>
                    <!-- inner -->
                    <div class="types-model__inner">
                        <div class="types-model__number">Головные уборы, заколки для волос, обувь, перчатки </div>
                        <div class="types-model__price">
                            <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                        </div>
                    </div>
                    <!-- inner -->
                    <div class="types-model__inner">
                        <div class="types-model__number">Очки, украшения, ремни </div>
                        <div class="types-model__price">
                            <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                        </div>
                    </div>
                    <!-- inner -->
                    <div class="types-model__inner">
                        <div class="types-model__number">Сумки, рюкзаки  (от 3 арт) </div>
                        <div class="types-model__price">
                            <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                        </div>
                    </div>
                    <!-- inner -->
                   
                </div>
                <div class="types-model__block types-model__js" data-tab="3">
                    <div class="types-model__inner">
                        <div class="types-model__number">от 1 до 2 арт. </div>
                        <div class="types-model__price">
                            <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                        </div>
                    </div>
                    <!-- inner -->
                    <div class="types-model__inner">
                        <div class="types-model__number">от 3 до 10 арт.  </div>
                        <div class="types-model__price">
                            <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                        </div>
                    </div>
                    <!-- inner -->
                    <div class="types-model__inner">
                        <div class="types-model__number">от 11 до 15 арт.  </div>
                        <div class="types-model__price">
                            <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                        </div>
                    </div>
                    <!-- inner -->
                    <div class="types-model__inner">
                        <div class="types-model__number">от 16 до 25 арт. </div>
                        <div class="types-model__price">
                            <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                        </div>
                    </div>
                    <!-- inner -->
                    <div class="types-model__inner">
                        <div class="types-model__number">Головные уборы, заколки для волос, обувь, перчатки </div>
                        <div class="types-model__price">
                            <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                        </div>
                    </div>
                    <!-- inner -->
                    <div class="types-model__inner">
                        <div class="types-model__number">Очки, украшения, ремни </div>
                        <div class="types-model__price">
                            <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                        </div>
                    </div>
                    <!-- inner -->
                  
                </div>
            </div>
            <div class="types-model__swiper swiper">
                <div class="types-model__swiper-wrapper swiper-wrapper">
                    <div class="types-model__slide swiper-slide">
                        <div class="types-model__slide-content">
                            <div class="types-model__slide-title-mob">цены на услугу в категории</div>
                            <div class="types-model__slide-title">Модели <span>СТАНДАРТ</span></div>
                            <div class="types-model__block">
                                <div class="types-model__inner">
                                    <div class="types-model__number">от 1 до 2 арт. </div>
                                    <div class="types-model__price">
                                        <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                                    </div>
                                </div>
                                <!-- inner -->
                                <div class="types-model__inner">
                                    <div class="types-model__number">от 3 до 10 арт.  </div>
                                    <div class="types-model__price">
                                        <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                                    </div>
                                </div>
                                <!-- inner -->
                                <div class="types-model__inner">
                                    <div class="types-model__number">от 11 до 15 арт.  </div>
                                    <div class="types-model__price">
                                        <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                                    </div>
                                </div>
                                <!-- inner -->
                                <div class="types-model__inner">
                                    <div class="types-model__number">от 16 до 25 арт. </div>
                                    <div class="types-model__price">
                                        <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                                    </div>
                                </div>
                                <!-- inner -->
                                <div class="types-model__inner">
                                    <div class="types-model__number">Головные уборы, заколки для волос, обувь, перчатки </div>
                                    <div class="types-model__price">
                                        <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                                    </div>
                                </div>
                                <!-- inner -->
                                <div class="types-model__inner">
                                    <div class="types-model__number">Очки, украшения, ремни </div>
                                    <div class="types-model__price">
                                        <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                                    </div>
                                </div>
                                <!-- inner -->
                                <div class="types-model__inner">
                                    <div class="types-model__number">Сумки, рюкзаки  (от 3 арт) </div>
                                    <div class="types-model__price">
                                        <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                                    </div>
                                </div>
                                <!-- inner -->
                                <div class="types-model__inner">
                                    <div class="types-model__number">Фотосъемка контента для Instagram </div>
                                    <div class="types-model__price">
                                        <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                                    </div>
                                </div>
                                <!-- inner -->
                                <div class="types-model__inner">
                                    <div class="types-model__number">Фотосъемка в стиле Asos - 2500 р/арт</div>
                                    <div class="types-model__price">
                                        <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                                    </div>
                                </div>
                                <!-- inner -->
                            </div>
                        </div>
                    </div>
                    <div class="types-model__slide swiper-slide">
                        <div class="types-model__slide-content">
                            <div class="types-model__slide-title">Модели <span>СТАНДАРТ</span></div>
                            <div class="types-model__block">
                                <div class="types-model__inner">
                                    <div class="types-model__number">от 1 до 2 арт. </div>
                                    <div class="types-model__price">
                                        <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                                    </div>
                                </div>
                                <!-- inner -->
                                <div class="types-model__inner">
                                    <div class="types-model__number">от 3 до 10 арт.  </div>
                                    <div class="types-model__price">
                                        <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                                    </div>
                                </div>
                                <!-- inner -->
                                <div class="types-model__inner">
                                    <div class="types-model__number">от 11 до 15 арт.  </div>
                                    <div class="types-model__price">
                                        <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                                    </div>
                                </div>
                                <!-- inner -->
                                <div class="types-model__inner">
                                    <div class="types-model__number">от 16 до 25 арт. </div>
                                    <div class="types-model__price">
                                        <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                                    </div>
                                </div>
                                <!-- inner -->
                                <div class="types-model__inner">
                                    <div class="types-model__number">Головные уборы, заколки для волос, обувь, перчатки </div>
                                    <div class="types-model__price">
                                        <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                                    </div>
                                </div>
                                <!-- inner -->
                                <div class="types-model__inner">
                                    <div class="types-model__number">Очки, украшения, ремни </div>
                                    <div class="types-model__price">
                                        <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                                    </div>
                                </div>
                             
                            </div>
                        </div>
                    </div>

                    <div class="types-model__slide swiper-slide">
                        <div class="types-model__slide-content">
                            <div class="types-model__slide-title">Модели <span>СТАНДАРТ</span></div>
                            <div class="types-model__block">
                                <div class="types-model__inner">
                                    <div class="types-model__number">от 1 до 2 арт. </div>
                                    <div class="types-model__price">
                                        <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                                    </div>
                                </div>
                                <!-- inner -->
                                <div class="types-model__inner">
                                    <div class="types-model__number">от 3 до 10 арт.  </div>
                                    <div class="types-model__price">
                                        <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                                    </div>
                                </div>
                                <!-- inner -->
                                <div class="types-model__inner">
                                    <div class="types-model__number">от 11 до 15 арт.  </div>
                                    <div class="types-model__price">
                                        <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                                    </div>
                                </div>
                                <!-- inner -->
                                <div class="types-model__inner">
                                    <div class="types-model__number">от 16 до 25 арт. </div>
                                    <div class="types-model__price">
                                        <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                                    </div>
                                </div>
                                <!-- inner -->
                                <div class="types-model__inner">
                                    <div class="types-model__number">Головные уборы, заколки для волос, обувь, перчатки </div>
                                    <div class="types-model__price">
                                        <b>Стоимость:</b> 1000 ₽<span>/арт</span>
                                    </div>
                                </div>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bullet__pagination types-model__bullets">
            
        </div>
    </div>
</section>